<nz-tabset>
    <nz-tab nzTitle="Tech Support">
        <div style="font-size:3vw;text-align: center;margin-top:6vw;color:red;">
            Coming Soon!
        </div>
    </nz-tab>
    <nz-tab nzTitle="Report a Bug">
        <div style="font-size:3vw;text-align: center;margin-top:6vw;color:red;">
            Coming Soon!
        </div>
    </nz-tab>
    <nz-tab nzTitle="Request a Feature">
        <div style="font-size:3vw;text-align: center;margin-top:6vw;color:red;">
            Coming Soon!
        </div>
    </nz-tab>
</nz-tabset>