
.logo {
	background: rgba(255, 255, 255, 0.7);
  float: left;
  height: 44px;
  border-radius: 24px;
  margin:10px 0 0px 20px;
  width: 180px;
}

[nz-menu] {
	line-height: 64px;
}

.current-nav {
  background: rgba(255, 255, 255, .3);
  color:blue !important;
}

.navbar-rhs {
  float:right;
  margin-right: 10px;
}

.nav-badge {
  padding: 0 20px;
  top:0;
}

.nav-badge:hover {
  background: rgba(255, 255, 255, .3);
  color:blue !important;
}

p.nav-badge:hover {
  background: rgba(255,255,255, .2);
}

.nz-content {
	padding: 0;
}

nz-footer {
	text-align: center;
}
.active-link {
  font-size: 14px;
  color:blue !important;
}

.inner-content {
  background: #fff;
  padding:20px;
  height:100%;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-item {

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
}

.about-this-page {
  padding:20px;
  background-color: #eaf7fe;
  border: 1px solid #a2d4fb;
  border-radius: 5px;
}

.current-task {

}

.task {
}
.task:hover {
}

.alert-close {
  float:right;
  font-size:16px;
  color:#aaaaaa;
  vertical-align: middle;
}
 .alert-close:hover {
   color:black;
 }

 .top {
   z-index: 10000000 !important;
 }

 .pricing-line-item {
   display:block;
   padding-left:10px;
   margin-top:10px;
}
 .pricing-line-item-category {
   display:block;
   margin-top:5px;
   font-weight:600;
   font-size:12px;
 }
 
 .naydo-box {
  height:fit-content;
 }

 .regular-box {
  height:fit-content;
 }

 .pricing-line-item-indented {
   display:block;
   padding-left:10px;
   margin-top:5px;
 }
 
 .pricing-line-item-icon {
   font-size:12px !important;
   display:inline-block;
   width:20px;
 }

 .pricing-line-item-desc {
   font-size:12px !important;
   display:inline-block;
   color:black;
 }

 .pricing-line-item-desc-indented {
   font-size:12px !important;
   display:inline-block;
   color:black;
 }
 .price-card {
   border-color: #e1e1e1;
   display:inline-block;
   height:fit-content;
   width: 60%;
   position:relative;
   background-color: #fdfdfd;
}