<div style="position: relative;">
    <div [@infoSlide]="infoAlertIsVisible ? 'open' : 'closed'"
        style="position:absolute;left:20%;right:20%;z-index:100000;background-color: #e9f6fe;border:2px solid cornflowerblue;text-align: center;border-radius:10px;padding:10px;">
        <div>
            <nz-tag [nzColor]="'blue'" style="border-radius: 10px;border:1px solid cornflowerblue;">Info</nz-tag>
            {{infoAlerts[0]?.message}}
        </div>
        <nz-progress nzStrokeColor="blue" [nzPercent]="infoAlertPercentComplete" [nzShowInfo]="false" nzStrokeWidth="1"></nz-progress>
    </div>
    <div [@warningSlide]="warningAlertIsVisible ? 'open' : 'closed'"
        style="position:absolute;left:20%;right:20%;z-index:100000;background-color: #fef1e8;border:2px solid goldenrod;text-align: center;border-radius:10px;padding:10px;">
        <div>
            <nz-tag [nzColor]="'gold'" style="border-radius: 10px;border:1px solid goldenrod;">Warning</nz-tag>
            {{warningAlerts[0]?.message}}
        </div>
        <nz-progress nzStrokeColor="goldenrod" [nzPercent]="warningAlertPercentComplete" [nzShowInfo]="false" nzStrokeWidth="1"></nz-progress>
    </div>
    <div [@successSlide]="successAlertIsVisible ? 'open' : 'closed'"
        style="position:absolute;left:20%;right:20%;z-index:100000;background-color: #f8ffee;border:2px solid forestgreen;text-align: center;border-radius:10px;padding:10px;">
        <div>
            <nz-tag [nzColor]="'green'" style="border-radius: 10px;border:1px solid forestgreen;">Success</nz-tag>
            {{successAlerts[0]?.message}}
        </div>
        <nz-progress nzStrokeColor="forestgreen" [nzPercent]="successAlertPercentComplete" [nzShowInfo]="false" nzStrokeWidth="1"></nz-progress>
    </div>
    <div [@errorSlide]="errorAlertIsVisible ? 'open' : 'closed'"
        style="position:absolute;left:20%;right:20%;z-index:100000;background-color: #fdf1f0;border:2px solid red;text-align: center;border-radius:10px;padding:10px;">
        <div>
            <nz-tag [nzColor]="'red'" style="border-radius: 10px;border:1px solid red;">Error</nz-tag>
            {{errorAlerts[0]?.message}}
        </div>
        <nz-progress nzStrokeColor="red" [nzPercent]="errorAlertPercentComplete" [nzShowInfo]="false" nzStrokeWidth="1"></nz-progress>
    </div>
</div>
<nz-layout style="height:100%;">
    <nz-header style="padding:0 !important;width:100%;">
        <div style="float:left;margin-right:20px;">
            <div class="logo">
                <img height="35" src="assets/images/logo/logo.png" style="margin:0 0 20px 15px;">
            </div>
        </div>
        <ul nz-menu nzTheme="light" nzMode="horizontal"
            [ngStyle]="{'background-color': (authenticatedUser$ | async)?.settings.themeColor.bgColor, 'color': (authenticatedUser$ | async)?.settings.themeColor.primary }">
            <li nz-menu-item nzMatchRouter class="nav-badge" style="top:0;" joyrideStep="task0Step1" title="Foo Fu"
                [ngClass]="{'current-nav': currentPage === 'home', 'nav-element': currentPage !== 'home'}">
                <a routerLink="/home" routerLinkActive="active-link">
                    Home
                </a>
            </li>
            <li *ngIf="(authenticatedUser$ | async)?.userType === 'supervisor'" nz-menu-item nzMatchRouter
                class="nav-badge" [ngClass]="{'current-nav': currentPage === 'myteam'}" style="top:0;">
                <a routerLink="/myteam" routerLinkActive="active-link">
                    My Team
                </a>
            </li>
            <li *ngIf="(authenticatedUser$ | async)?.userType === 'supervisor'" nz-menu-item nzMatchRouter
                class="nav-badge" [ngClass]="{'current-nav': currentPage === 'mytrainings'}" style="top:0;">
                <a routerLink="/mytrainings" routerLinkActive="active-link">
                    My Trainings
                </a>
            </li>
            <li *ngIf="(authenticatedUser$ | async)?.userType === 'supervisor' || (authenticatedUser$ | async)?.teamAdmin"
                nz-menu-item nzMatchRouter class="nav-badge" [ngClass]="{'current-nav': currentPage === 'trainings'}"
                style="top:0;">
                <a routerLink="/trainings" routerLinkActive="active-link">
                    All Trainings
                </a>
            </li>
            <li nz-menu-item class="navbar-rhs" nz-dropdown [nzDropdownMenu]="profile" [nzTrigger]="'hover'"
                [nzPlacement]="'bottomRight'">
                <span class=" pointer">
                    <nz-avatar [nzText]="(authenticatedUser$ | async)?.firstName.substring(0,1)"
                        [ngStyle]="{'background-color': (authenticatedUser$ | async)?.settings.themeColor.secondary, 'color': (authenticatedUser$ | async)?.settings.themeColor.primary}">
                    </nz-avatar>
                </span>
                <nz-dropdown-menu #profile="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>
                            <div style="vertical-align: middle;min-width:150px;margin-bottom: 20px;">
                                <div style="font-size:18px;margin-bottom: 20px;">
                                    {{(authenticatedUser$ | async)?.firstName}}
                                    {{(authenticatedUser$ | async)?.lastName}}
                                </div>
                                <div>
                                    <div
                                        style="display:table-cell;font-size:18px;font-weight: 500;vertical-align: baseline;">
                                        {{planHash[(org$ | async)?.plan]?.name}}&nbsp;&nbsp;
                                    </div>
                                    <div style="display:table-cell;color:#aaaaaa;vertical-align: baseline;">Plan</div>
                                    <i [ngClass]="planHash[(org$ | async)?.plan]?.icon"
                                        style="display:table-cell;font-size:20px;vertical-align: middle;padding-left: 30px;"
                                        [ngStyle]="{'color': planHash[(org$ | async)?.plan]?.color}"></i>
                                </div>
                            </div>
                        </li>
                        <li nz-menu-item (click)="quickViewToggle()">
                            <a class="p-v-5 d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="fas fa-cog"
                                        style="font-size:20px;color:#000000;vertical-align: middle;"></i>
                                    <span class="m-l-10">Settings</span>
                                </div>
                            </a>
                        </li>
                        <!--
                        <li nz-menu-item (click)="userPanelVisible = true">
                            <a class="p-v-5 d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="" nz-icon nzType="user" theme="outline"
                                        style="vertical-align: baseline;font-size:20px;"></i>
                                    <span class="m-l-10">Edit Profile</span>
                                </div>
                            </a>
                        </li>
                        -->
                        <li nz-menu-item (click)="logout()">
                            <a class="p-v-5 d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="fas fa-sign-out-alt"
                                        style="vertical-align: baseline;font-size:20px;color:black;"></i>
                                    <span class="m-l-10">Logout</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </li>
            <li nz-menu-item class="navbar-rhs" nz-dropdown [nzDropdownMenu]="alertDropDown" [nzTrigger]="'hover'"
                nzPlacement="bottomRight">
                <span class="pointer">
                    <a>
                        <i *ngIf="dropDownAlerts.length === 0" class="far fa-fw fa-bell"
                            style="font-size:20px;color:#000000;vertical-align: middle;"></i>
                        <nz-badge *ngIf="dropDownAlerts.length > 0" [nzCount]="dropDownAlerts.length">
                            <i *ngIf="dropDownAlerts.length > 0" class="far fa-fw fa-bell-on"
                                style="font-size:30px;color:blue;vertical-align: middle;"></i>
                        </nz-badge>
                    </a>
                </span>
                <nz-dropdown-menu #alertDropDown="nzDropdownMenu">
                    <ul nz-menu>
                        <li *ngIf="dropDownAlerts.length === 0" style="width:200px;padding:20px;">
                            <div style="line-height:normal;font-size:16px;font-weight:200;">
                                No Alerts!

                            </div>
                        </li>
                        <li *ngFor="let alert of dropDownAlerts; index as i" nz-menu-item>
                            <div style="width:500px;font-size:12px;border-radius:4px;padding:5px;white-space: normal;"
                                [ngStyle]="{'border': border[alert.type], 'background': bgColor[alert.type]}">
                                <span>
                                    <i [ngClass]="icon[alert.type]" [ngStyle]="{'color': iconColor[alert.type]}"
                                        style="font-size:14px;margin-right:10px;"></i>
                                </span>
                                <span>{{messageLabel[alert.type] + alert?.message}}</span>

                            </div>
                        </li>
                        <li nz-menu-item style="line-height:normal;padding:0 20px;text-align: center;">
                            <div *ngIf="dropDownAlerts.length > 0" style="text-align: center;">
                                <button nz-button nzType="default" nzSize="small"
                                    (click)="dropDownAlerts = []; alerts = []"
                                    style="line-height:normal;font-size:12px;border-radius:4px;padding:0 5px;background:#f1f1f1;border:1px solid #dddddd;">
                                    Clear All
                                </button>
                            </div>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </li>
            <li nz-menu-item class="navbar-rhs" nz-dropdown [nzDropdownMenu]="taskDropDown" [nzTrigger]="'hover'"
                nzPlacement="bottomRight">
                <span class="pointer">
                    <a>
                        <i class="fas fa-fw fa-tasks"
                            style="display:inline-block;vertical-align:middle;font-size:20px;vertical-align: middle;"></i>
                    </a>
                </span>
                <nz-dropdown-menu #taskDropDown="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let task of tasks$ | async" (click)="startTour(task)">
                            <span style="font-weight:500;">{{taskHash[task]?.taskId}} - </span><span
                                style="font-weight:200;">{{taskHash[task]?.description}}</span>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </li>
        </ul>
        <ng-template #httpError>

        </ng-template>

    </nz-header>
    <nz-content *ngIf="authenticatedUser$ | async as user" class="inner-content">
        <!--
        <nz-steps *ngIf="myTeamCnt === 0 && allTrainingCnt === 0" [nzCurrent]="currentStep" style="height:fit-content;">
            <nz-step nzTitle="Add Users" nzDescription=""></nz-step>
            <nz-step nzTitle="Create Trainings" nzSubtitle="" nzDescription=""> </nz-step>
        </nz-steps>
        -->
        <router-outlet [ngStyle]="{'height.px': browserInnerHeight - headerHight}"></router-outlet>
        <nz-modal nzWidth="600" [(nzVisible)]="showNewUserModal" nzCancelDisabled="true" nzClosable="false"
            nzTitle="Welcome!" (nzOnOk)="saveName()">
            <div style="padding:20px;color:#000000;">
                <div style="text-align: center;">
                    <h3>Welcome to <span style="color:red;">my</span>Training<span style="color:red;">docs</span>!</h3>
                </div>
                <br>
            </div>
            <div *ngIf="authenticatedUser$ | async as user" style="background-color: white;">
                <span style="margin-left:10%;display:block;float:left;font-size:16px;">Please give us your
                    name...</span>
                <div style="margin-left:10%;display:block;margin-bottom:10px;width:100%;">
                    <!--
                    <label style="display:inline-block;text-align: right;width:20%;padding-right:10px;"></label>
                    -->
                    <input style="display:inline-block;width:80%;" nz-input type="text" placeholder="First Name"
                        ngDefaultControl [(ngModel)]="fName">
                </div>
                <div style="margin-left:10%;display:block;margin-bottom:10px;width:100%;">
                    <!--
                    <label style="display:inline-block;text-align: right;width:20%;padding-right:10px;">Last
                        Name</label>
                        -->
                    <input style="display:inline-block;width:80%;" nz-input type="text" placeholder="Last Name"
                        ngDefaultControl [(ngModel)]="lName">
                </div>

            </div>
        </nz-modal>
        <nz-drawer nzWidth="700px" nzTitle="Settings" [nzClosable]="false" [nzVisible]="quickViewVisible"
            nzPlacement="right" (nzOnClose)="quickViewToggle()">
            <nz-tabset>
                <nz-tab nzTitle="Application">
                    <div style="padding-top:20px;">
                        <app-settings></app-settings>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="User">
                    <div style="display:block;width:90%;">
                        <div style="display:inline-block;width:25%;text-align: right;">
                            <label style="font-size:14px;color:#000000;">
                                First Name
                            </label>
                        </div>
                        <div style="display:inline-block;width:70%;margin-left:20px;">
                            <input nz-input nzSize="small" type="text" placeholder="First Name" ngDefaultControl
                                [(ngModel)]="authenticatedUser.firstName" style="margin-bottom:2px;">
                        </div>
                    </div>
                    <div style="display:block;width:90%;">
                        <div style="display:inline-block;width:25%;text-align: right;">
                            <label style="font-size:14px;color:#000000;">
                                Last Name
                            </label>
                        </div>
                        <div style="display:inline-block;width:70%;margin-left:20px;">
                            <input nz-input nzSize="small" type="text" placeholder="Last Name" ngDefaultControl
                                [(ngModel)]="authenticatedUser.lastName" style="margin-bottom:2px;">
                        </div>
                    </div>
                    <div style="display:block;width:90%;">
                        <div style="display:inline-block;width:25%;text-align: right;">
                            <label style="font-size:14px;color:#000000;">
                                Email
                            </label>
                        </div>
                        <div style="display:inline-block;width:70%;margin-left:20px;">
                            <nz-input-group [nzSuffix]="suffixTemplate">
                                <input nz-input nzSize="small" type="text" placeholder="Email" ngDefaultControl
                                    [(ngModel)]="currentEmail" (ngModelChange)="checkUniqueEmail($event)"
                                    style="margin-bottom:2px;" (keydown.enter)="checkUniqueEmail($event)"
                                    (blur)="checkUniqueEmail($event)">
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <span *ngIf="!emailUnique" style="font-size:10px;">email taken</span>
                                <span *ngIf="emailUnique" style="font-size:10px;">email available</span>
                            </ng-template>
                        </div>
                    </div>
                    <div style="display:block;margin-top:20px;width:90%;text-align: center;">
                        <div style="display:inline-block;width:60%;">
                            <!--
                            <button nz-button nzSize="small" nzShape="round" (click)="handleUpdateUserCancel()"
                                nzType="default" style="margin: 10px;display:inline-block;">Cancel
                            </button>
                            -->
                            <button *ngIf="authenticatedUser" nz-button nzSize="small" nzShape="round"
                                (click)="handleUpdateUser()" [disabled]="!emailUnique" nzType="primary"
                                style="margin: 10px;display:inline-block;">Update
                                User
                            </button>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab *ngIf="(org$ | async)?.adminIds.includes(authenticatedUser._id)" nzTitle="Organization">
                    <div style="padding:20px 40px;display:table-cell;">
                        <div style="display:table-cell;width:400px;vertical-align: middle;">
                            <span style="font-size:16px;">
                                Current Plan&nbsp;&nbsp;:&nbsp;&nbsp;
                            </span>
                            <span style="font-size:16px;color:blue;">
                                {{planHash[(org$ | async)?.plan]?.name}}
                            </span>
                        </div>
                        <div style="display:table-cell;">
                            <nz-radio-group [(ngModel)]="orgObj.plan" (ngModelChange)="planChanged($event)"
                                style="float:right;">
                                <label nz-radio-button nzValue="basic" style="" nz-tooltip nzTooltipTitle="Basic Plan">
                                    <i class="fad fa-user" style="font-size:22px;color:green;"></i>
                                </label>
                                <label nz-radio-button nzValue="pro" nz-tooltip nzTooltipTitle="Pro Plan">
                                    <i class="fad fa-user-tie" style="font-size:22px;color:red;"></i>
                                </label>
                                <label nz-radio-button nzValue="expert" nz-tooltip nzTooltipTitle="Expert Plan">
                                    <i class="fad fa-user-graduate" style="font-size:22px;color:blueviolet;"></i>
                                </label>
                            </nz-radio-group>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="padding:20px 40px;">
                        <div style="width:50%;float:left;">
                            <span style="font-size:16px;">
                                Admins
                            </span>
                        </div>
                        <div style="width:50%;float:right;">
                            <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                                nzPlaceHolder="Please select" (ngModelChange)="adminUserListChanged($event)"
                                [(ngModel)]="listOfSelectedUsers" style="width:100%;">
                                <nz-option *ngFor="let option of listOfUsers" [nzLabel]="option.label"
                                    [nzValue]="option.value"></nz-option>
                            </nz-select>
                            <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected
                            </ng-template>


                            <!--
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="user-search">
                                <input type="text" nz-input placeholder="User Search" [(ngModel)]="userNameToSearchFor"
                                    (ngModelChange)="onUserSearchChange($event)" [nzAutocomplete]="autoUserSearch"
                                    style="border:1px solid white;" />
                            </nz-input-group>
                            <nz-autocomplete [nzDataSource]="matchingUsers" #autoUserSearch></nz-autocomplete>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="primary" nzSearch style="z-index: 1000;height:41px;"><i nz-icon
                                        nzType="search"></i></button>
                            </ng-template>
                            -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </nz-drawer>
    </nz-content>
    <!--
    <nz-footer class="footer">Copyright ©2020 Teknetium, LLC</nz-footer>
    -->
</nz-layout>
<app-my-loader></app-my-loader>
<nz-modal [(nzVisible)]="showUpgradeToExpertDialog" (nzOnOk)="handleUpgradeToExpertOk()"
    [nzOkText]="upgradeToExpertOkText" nzTitle="Upgrade Plan" (nzOnCancel)="showUpgradeToExpertDialog = false">
    <div style="margin-bottom: 20px;">
        This feature is only available in the <span style="font-size:18px;font-weight: 500;">Expert</span> Plan.
        <br><br>
        If you choose to upgrade to the Expert plan now, you will be billed at the prorated Expert rate for the
        remainder of the billing period.
        You will need to
    </div>
    <div *ngIf="!orgObj?.adminIds?.includes(authenticatedUser._id)">
        Would you like to send a message to your software administrator requesting an upgrade to the Expert Plan?
    </div>

</nz-modal>
<nz-modal [(nzVisible)]="showUpgradeToProDialog" (nzOnOk)="handleUpgradeToProOk()" [nzOkText]="upgradeToProOkText"
    nzTitle="Upgrade Plan" (nzOnCancel)="showUpgradeToProDialog = false">
    <div style="margin-bottom: 20px;">
        This feature is not available in the <span style="font-size:18px;font-weight: 500;">Basic</span> Plan.
    </div>
    <div *ngIf="!orgObj?.adminIds?.includes(authenticatedUser._id)">
        Would you like to send a message to your software administrator requesting an upgrade to the Pro Plan?
    </div>

</nz-modal>