
.logo {
	background: rgba(255, 255, 255, 0.7);
  float: left;
  height: 44px;
  border-radius: 24px;
  margin:10px 0 0px 20px;
  width: 180px;
}

[nz-menu] {
	line-height: 64px;
}

.nav-badge-cell {
  width:8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #3e9c1c;
  position: absolute;
  top:10px;
  right:4px;
  font-size:10px;
  color: white;
  text-align: center;
}

.current-nav {
  background: rgba(255, 255, 255, .3);
  color:blue !important;
}

.navbar-rhs {
  float:right;
  margin-right: 20px;
}

.nav-badge {
  padding: 0 10px;
}

.nav-badge:hover {
  background: rgba(255,255,255, .2);
}

.nz-content {
	padding: 0;
}

nz-footer {
	text-align: center;
}
.active-link {
  font-size: 14px;
  color:blue !important;
}

.inner-content {
  background: #fff;
  padding:20px;
  height:100%;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-item {
  padding: 0 10px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
}

.about-this-page {
  padding:20px;
  background-color: #eaf7fe;
  border: 1px solid #a2d4fb;
  border-radius: 5px;
}

.current-task {

}

.task {
}
.task:hover {
}

.alert-close {
  float:right;
  font-size:16px;
  color:#aaaaaa;
  vertical-align: middle;
}
 .alert-close:hover {
   color:black;
 }
