
.logo {
	background: rgba(255, 255, 255, 0.4);
  float: left;
  height: 44px;
  border-radius: 24px;
  margin:10px 0 0px 30px;
  width: 180px;
}

[nz-menu] {
	line-height: 64px;
}

.nav-badge-cell {
  width:18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #3e9c1c;
  position: absolute;
  top:10px;
  right:4px;
  font-size:10px;
  color: white;
  text-align: center;
}

.nav-badge {
  color: cyan !important;
  margin: 0 10px;
}

.nav-badge:hover {
  color: cyan !important;
}

nz-content {
	padding: 0;
}

nz-footer {
	text-align: center;
}
.active-link {
  color: cyan !important;
}

.inner-content {
	background: #fff;
  height:100%;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #1a60a0 !important;
  color: cyan !important;
}
.ant-menu.ant-menu-dark:hover .ant-menu-item-selected {
    color: cyan !important;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
}

.about-this-page {
  padding:20px;
  background-color: #eaf7fe;
  border: 1px solid #a2d4fb;
  border-radius: 5px;
}
