<div>
  <div *ngIf="selectedUser$ | async as item"
       style="background-color: #f1f5fe;height: 50px;padding:20px;text-align: center;margin-bottom:20px;">
    <i class="fa-fw" style="font-size: 14px;" [ngClass]="userTypeHash[item.userType].iconClass"
       [ngStyle]="{'color': trainingStatusHash[item.trainingStatus].color}"></i>
    &nbsp;&nbsp;<p nz-typography [(nzContent)]="nameStr">{{ item.firstName }}</p> {{ item.lastName }}
  </div>
  <div *ngIf="selectedUser$ | async as selectedUser" style="padding: 20px;">

    <div *ngIf="(selectedUser !== null)">
      <form style="font-size: 12px;" nz-form [formGroup]="userForm" (ngSubmit)="submitForm($event, userForm.value)">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>First Name</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="text" formControlName="firstName" placeholder="First Name">
            <nz-form-explain
              *ngIf="userForm.get('firstName')?.dirty && userForm.get('firstName')?.hasError('required')">
              Please enter the users first name.
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>Last Name</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="text" formControlName="lastName" placeholder="Last Name">
            <nz-form-explain
              *ngIf="userForm.get('lastName')?.dirty && userForm.get('lastName')?.hasError('required')">
              Please enter the users last name.
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>Email</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="text" formControlName="email" placeholder="Email">
            <nz-form-explain
              *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.hasError('required')">
              >Please enter the user's email address.
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="selectedUser.userStatus !== 'new-user'">
          <nz-form-label [nzSpan]="5" nzRequired>Organization</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="text" formControlName="org" placeholder="Organization">
            <nz-form-explain
              *ngIf="userForm.get('org')?.dirty && userForm.get('org')?.hasError('required')">
              Please enter an organization name.
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">User Type</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-radio-group formControlName="userType">
              <label nz-tooltip nzTitle="Employee" nz-radio nzValue="employee"><i class="fas fa-fw fa-user"
                                                                                  style=""></i></label>
              <label nz-tooltip nzTitle="Volunteer" nz-radio nzValue="volunteer"><i class="far fa-fw fa-user"
                                                                                    style=""></i></label>
              <label nz-tooltip nzTitle="Customer" nz-radio nzValue="customer"><i class="fas fa-fw fa-user-tie"
                                                                                  style=""></i></label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="selectedUser.userStatus !== 'new-user'">
          <nz-form-label [nzSpan]="5" nzRequired>User Status</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-radio-group formControlName="userStatus">
              <label nz-radio nzValue="active">Active</label>
              <label nz-radio nzValue="inactive">Inactive</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <!--
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>Trainings</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select formControlName="trainings" nzMode="tags" nzPlaceHolder="Select Trainings">
              <nz-option *ngFor="let option of trainingsForSelect$ | async" [nzLabel]="option.label"
                         [nzValue]="option.value"></nz-option>
            </nz-select>
            <nz-form-explain
              *ngIf="userForm.get('trainings')?.dirty && userForm.get('trainings')?.hasError('required')"
            >Please select one or more files.
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        -->
        <nz-form-item *ngIf="selectedUser.userStatus !== 'new-user'">
          <nz-form-label [nzSpan]="5">Tags</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select formControlName="tags" nzMode="tags" nzPlaceHolder="Select Tags">
              <nz-option *ngFor="let option of userTags$ | async" [nzLabel]="option.label"
                         [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="5" [nzSpan]="14">
            <button nz-button type="submit" nzType="primary"
                    [disabled]="!userForm.dirty || !userForm.valid">{{saveButtonLabel}}</button>
            <button nz-button nzType="danger" (click)="showDeleteModal($event)" style="margin-left:5px;"
                    [disabled]="disableDelete">{{deleteButtonLabel}}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <nz-modal [(nzVisible)]="isConfirmDeleteModalVisible" nzTitle="Confirm Delete" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()">
    Are you sure you want to delete this user?
  </nz-modal>
</div>
