
.settings-item-left {
  display: inline-block;
  width: 70%;
}
.settings-item-right {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.current-theme {
    border-color: black !important;
}