<div *ngIf="authenticatedUser$ | async as user" style="display:block;margin-bottom:40px;">
    <!--
    <div *ngIf="user.appAdmin" class="settings-item">
        <div class="settings-item-left">
            <i nz-icon nzType="file-text" [nzTheme]="'twotone'" style="font-size:24px;vertical-align: middle;"></i>
            <span style="vertical-align: middle;margin-left:10px;font-size: 16px;">Show CSV</span>
        </div>
        <div class="settings-item-right">
            <nz-switch [(ngModel)]="user.settings.showCSV"
                (ngModelChange)="updateUserSettings($event, 'showCSV', $event)"></nz-switch>
        </div>
        <div style="clear: both;"></div>
    </div>
    -->
    <div style="text-align: center;border-bottom:1px solid #dddddd;">
        <h4>General</h4>
    </div>
    <div class="settings-item">
        <div class="settings-item-left" style="width:70%">
            <i class="fad fa-fw fa-palette" style="color:blue;font-size:24px;vertical-align: middle;"></i>
            <span style="vertical-align: middle;margin-left:10px;font-size: 16px;">Nav Bar Theme</span>
        </div>
        <div class="settings-item-right">
            <div *ngFor="let color of colors; index as i"
                style="display:table-cell;height: fit-content;width:fit-content;margin-right:5px;border-radius:6px;border: 2px solid white;padding:3px;"
                (click)="updateUserSettings($event, 'themeColor', color)"
                [ngClass]="{'current-theme': color.name === (authenticatedUser$ | async)?.settings.themeColor.name}">
                <div [ngStyle]="{'background-color': color.bgColor, 'color': color.fgColor}"
                    style="height:24px;width:24px;border-radius:6px;"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="settings-item">
        <div class="settings-item-left">
            <i class="fad fa-fw fa-bell" style="color:blue;font-size:24px;vertical-align: middle;"></i>
            <span style="vertical-align: middle;margin-left:10px;font-size: 16px;">Show Alerts</span>
        </div>
        <div class="settings-item-right">
            <nz-switch [(ngModel)]="user.settings.showAlerts"
                (ngModelChange)="updateUserSettings($event, 'showAlerts', $event)"></nz-switch>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="settings-item">
        <div class="settings-item-left">
            <i class="fad fa-fw fa-tasks" style="color:blue;font-size:24px;vertical-align: middle;"></i>
            <span style="vertical-align: middle;margin-left:10px;font-size: 16px;">Show Tasks</span>
        </div>
        <div class="settings-item-right">
            <nz-switch [(ngModel)]="user.settings.showTasks"
                (ngModelChange)="updateUserSettings($event, 'showTasks', $event)"></nz-switch>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="text-align: center;border-bottom:1px solid #dddddd;">
        <h4>My Team</h4>
    </div>
    <div *ngIf="user.userType === 'supervisor'" class="settings-item">
        <div class="settings-item-left">
            <i class="fad fa-fw fa-list" style="color:blue;font-size:24px;vertical-align: middle;"></i>
            <span style="vertical-align: middle;margin-left:10px;font-size: 16px;">Show Legend</span>
        </div>
        <div class="settings-item-right">
            <nz-switch [(ngModel)]="user.settings.showLegend"
                (ngModelChange)="updateUserSettings($event, 'showLegend', $event)"></nz-switch>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="settings-item">
        <div class="settings-item-left">
            <i class="fad fa-fw fa-user-times" style="color:blue;font-size:24px;vertical-align: middle;"></i>
            <span style="vertical-align: middle;margin-left:10px;font-size: 16px;">Show Inactive Users</span>
        </div>
        <div class="settings-item-right">
            <nz-switch [(ngModel)]="user.settings.showInactiveUsers"
                (ngModelChange)="updateUserSettings($event, 'showInactiveUsers', $event)"></nz-switch>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>