.settings-item {
  padding:20px 10px;
  display:block;
}
.settings-item-left {
  float: left;
  font-size: 14px;
  vertical-align: middle;
}
.settings-item-right {
  float:right;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
}

.current-theme {
    border-color: black !important;
}