<div *ngIf="!(isAuthenticated$ | async)">
    <mtd-landingpage></mtd-landingpage>
</div>
<!--
<div *ngIf="isAuthenticated$ | async" class="common-layout {{ 'is-' + selectedHeaderColor }}" 
    [ngClass]="{
        'is-folded': isFolded,
        'is-side-nav-dark' : isSideNavDark,
        'is-expand' : isExpand
    }"
>
-->
<div *ngIf="isAuthenticated$ | async" class="common-layout">
    <app-header></app-header>
    <div class="page-container">
        <div class="main-content">
                <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>