<div *ngIf="explainerVidIsVisible"
  style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0, 0, 0, .7 );z-index: 10000;text-align: center;"
  (click)="explainerVidIsVisible = false">
</div>
<div style="width:100%;height:100%;text-align: center;">
  <div [@videoSlide]="explainerVidIsVisible ? 'open' : 'closed'"
    style="z-index: 100001;position:fixed;left:25%;padding:30px;background-color: black;border:2px solid #777777;width:50%;">
    <i nz-icon nzType="close" [nzTheme]="'outline'"
      style="cursor:pointer;position:absolute;top:5px;right:5px;font-size:20px;color:white;"
      (click)="explainerVidIsVisible = false"></i>
    <!--
                <div *ngIf="showYouTubeIcon" style="position:absolute;background:rgba(0, 0, 0, .3);z-index:10;height:100%;width:100%;">
                  <i nz-icon nzType="youtube" [nzTheme]="'fill'" (click)="youtubePlayVideo()"
                    style="font-size:100px;padding-top:20%;text-align:center;color:#fb0006;z-index:10;"></i>
                </div>
                -->

    <vg-player *ngIf="currentVideo === 'explainer'" (onPlayerReady)="onPlayerReady($event)">
      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video [vgMedia]="media2" #media2 id="singleVideo" preload="auto" crossorigin>
        <source [src]="explainerUrl" type="video/mp4">
      </video>
    </vg-player>
    <vg-player *ngIf="currentVideo === 'orgChart'" (onPlayerReady)="onPlayerReady($event)">

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media2" #media2 id="singleVideo" preload="auto" crossorigin>
        <source [src]="orgChartUrl" type="video/mp4">
      </video>
    </vg-player>
    <vg-player *ngIf="currentVideo === 'onboarding'" (onPlayerReady)="onPlayerReady($event)">

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media2" #media2 id="singleVideo" preload="auto" crossorigin>
        <source [src]="onboardingUrl" type="video/mp4">
      </video>
    </vg-player>
    <vg-player *ngIf="currentVideo === 'leverageExistingContent'" (onPlayerReady)="onPlayerReady($event)">

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media2" #media2 id="singleVideo" preload="auto" crossorigin>
        <source [src]="leverageContentUrl" type="video/mp4">
      </video>
    </vg-player>
    <vg-player *ngIf="currentVideo === 'assessment'" (onPlayerReady)="onPlayerReady($event)">

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media2" #media2 id="singleVideo" preload="auto" crossorigin>
        <source [src]="assessmentUrl" type="video/mp4">
      </video>
    </vg-player>
  </div>
  <div style="position:relative;" id="home">
    <!--
    <img *ngIf="naydo" src="assets/images/WelcomeStarBurst.png" style="position:absolute;top:60%;left:5%;z-index:1;"
      width="40%">
      -->

    <!--
    <div class="special-offer">
      <div style="position: relative;">
        <div *ngIf="showEarlyAccessDetails" class="early-access-details">
          <i class="fa-light fa-times"
            style="cursor:pointer;font-size:1.5vw;color:red;top:5px;right:5px;position:absolute;"
            (click)="showEarlyAccessDetails = false"></i>
          <div style="font-size:1.8vw;margin-bottom:1vw;font-weight:500;color:black;">
            Early Access Program
          </div>
          <span style="display:block;font-size:1.1vw;font-weight:400;margin-bottom:1vw;">Ends December 31,
            2021</span>
          <p style="font-size:.85vw;color:black;text-align: left;">Participants in the early access program will not
            only
            have use of the full feature
            set of
            <span style="color:red;font-weight:600;">my</span>
            <span style="color:black;font-weight:600;">Training</span>
            <span style="color:red;font-weight:600;">docs</span>

            but will also have input into the functionality and priority of key features like
          </p>
          <div style="text-align: left;">
            <div style="text-align:center;">
              <ul style="display:inline-block;font-size:.85vw;">
                <li style="text-align: left;color:blue;">Recurring Training Work Flow</li>
                <li style="text-align: left;color:blue;">Live Streaming</li>
                <li style="text-align: left;color:blue;">Compliance Auditing</li>
                <li style="text-align: left;color:blue;">Custom Reporting</li>
                <li style="text-align: left;color:blue;">Custom Notifications</li>
                <li style="text-align: left;color:blue;">Custom Dashboard</li>
              </ul>
            </div>
          </div>
          <div style="text-align: left;font-size:.85vw;">
            Other perks include
            <div style="text-align: left;font-size:.85vw;">
              <div style="text-align:center;">
                <ul style="display:inline-block;">
                  <li style="text-align: left;color:blue;">4 hours of consulting time</li>
                  <li style="text-align: left;color:blue;">20% discount on the first year</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div style="padding:2vw;">
          <div style="color:chartreuse;height:10%;font-size:2.5vw;">
            <span style="display:block;font-weight:400;">Join Early Access!</span>
            <span style="display:block;font-size:1vw;font-weight:400;margin-bottom:5px;">Ends December 31, 2021</span>
          </div>
          <div style="display:block;text-align:center;margin-top:2vw;color:cyan;">
            Join during the Early Access period and get 50% off through the end of the year.
            <br>
            <br>
            <span style="text-align: center;">
            Use coupon code <span style="color:chartreuse;">EarlyAccess</span>
            </span>
          </div>
          <div class="special-offer-text">
          </div>
        </div>
      </div>
    </div>
    -->
    <!--
    <div style="font-size:1.5vw;color:black;margin-top: 3vw;">
      At less than $5 per user per month for our full feature plan, can you afford to not join?
    </div>
    <div style="font-size:1vw;color:black;margin-top: 3vw;margin-bottom: 3vw;">
      Check out our Pricing section to see what your exact cost would be.
    </div>
    -->
    <div style="position:relative;">
      <img src="assets/images/landing-banner.png" width="100%" height="100%">
      <div style="position: absolute;top:10vw;left:10vw;font-size:2.5vw;color:black;">
        Training people is hard.
      </div>
      <div style="position: absolute;top:14vw;left:10vw;font-size:2.5vw;color:black;">
        We can help!
      </div>

      <div style="position: absolute;top:20vw;left:10vw;font-size:1.5vw;color:black;">
        Check out our explainer video...
        <i class="fa-solid fa-play-circle opaque" style="cursor:pointer;text-align:center;font-size:2.5vw;color:black;"
          (click)="loadVideo('explainer')"></i>
      </div>
      <div
        style="position: absolute;top:27vw;left:2vw;padding:2vw;border-radius:.4vw;background: rgba(255, 255, 255, .4);width:50vw;">
        <div style="text-align:center;font-size:1.3vw;color:black;font-weight:200;">
          <div style="display:inline-block;">
            How Much Does
          </div>
          <div [@textFade]="endInterval ? 'invisible' : 'visible'" style="font-weight:600;display:inline-block;">
            &nbsp;&nbsp; {{currentCostItem}}&nbsp;&nbsp;
          </div>
          <div style="display:inline-block;">
            Cost Your Business?
          </div>
          <!--
                <i class="fa-solid fa-play-circle opaque" style="cursor:pointer;text-align:center;font-size:3vw;color:black;"
                  (click)="loadVideo('explainer')"></i>
                  -->
        </div>
        <div style="font-size:1.3vw;color:black;margin-top: 2vw;font-weight:200;text-align: center;">
          Well trained employees all but eliminate these costs!
        </div>
        <div style="font-size:1.3vw;color:black;margin-top:2vw;font-weight:200;text-align: center;">
          <span style="color:red;">my</span>
          <span style="color:black;">Training</span>
          <span style="color:red;margin-bottom:3vw;">docs</span>
          was designed for first time Learning Management System (LMS) organizations with more than 100 employees.
          <br>
          <br>
          <span style="font-size:1.6vw;margin-top:3vw;">
            Reduce your training costs by a factor of 100!
          </span>

          <br>
          <br>
          <a [ngxScrollTo]="destinations['price'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
            [ngxScrollToEasing]="ngxScrollToEasing" style="color:blue;margin-top:20px;">
            Sign Me Up!
          </a>

          <!--
          is a pragmatic solution to training your employees.
          <br>
          Powerful. Simple. Easy to use.
          -->
        </div>
      </div>
    </div>
  </div>
  <div style="width:100%;height:100%;">
    <div
      style="padding:.6vw;background-color:rgba(220, 220, 220, .7);position:fixed;top:0;left:0;right:0;font-size: 16px;z-index: 100;text-align: center;width:100%;">
      <div style="float:left;border-radius:2vw;padding: .5vw 1vw; background: rgba(255,255,255,.3);margin-right:.2vw;">
        <img width="120vw" src="assets/images/logo/logo.png">
      </div>

      <div class="nav-link">
        <a [ngxScrollTo]="destinations['home'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollToEasing]="ngxScrollToEasing">
          Home
        </a>
      </div>
      <div class="nav-link">
        <a [ngxScrollTo]="destinations['features'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollToEasing]="ngxScrollToEasing">
          Features
        </a>
      </div>
      <!--
      <div class="nav-link">
        <a [ngxScrollTo]="destinations['benefits'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollToEasing]="ngxScrollToEasing">
          Benefits
        </a>
      </div>
      -->
      <!--
    <div class="nav-link">
      <a   [ngxScrollTo]="destinations['howitworks'].ngxScrollToDestination"
           [ngxScrollToDuration]="ngxScrollToDuration"
           [ngxScrollToEasing]="ngxScrollToEasing"
      >How It Works</a>
    </div>
    -->
      <div class="nav-link">
        <a [ngxScrollTo]="destinations['price'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollToEasing]="ngxScrollToEasing">Pricing</a>
      </div>
      <!--
      <div class="nav-link">
        <a [ngxScrollTo]="destinations['faq'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollToEasing]="ngxScrollToEasing">FAQ</a>
      </div>
      -->
      <div class="nav-link">
        <a href="mailto:info@mytrainingdocs.com">Contact Us</a>
        <!--
        <a [ngxScrollTo]="destinations['contact'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollToEasing]="ngxScrollToEasing">Contact Us</a>
          -->
      </div>

      <!--
      <div class="nav-link" style="cursor:pointer;font-size: 12px;z-index: 100;float:right;" (click)="signup()">

        Sign Up
      </div>
      -->

      <div class="nav-link" style="float:right;cursor: pointer;" (click)="login()">
        Log In
      </div>
    </div>
    <section class="section">
      <div style="display: block;width:100%;margin-bottom:40px;">
        <div *ngFor="let item of featureSlides; index as dotIndex" style="display: inline-block;margin-right:10px;">
          <div>
            <i class="fa-circle"
              [ngClass]="{'current-slide': currentSlide === dotIndex, 'fa-solid': currentSlide === dotIndex, 'far': currentSlide !== dotIndex }"
              (click)="goTo(dotIndex)" style=""></i>
          </div>
        </div>

      </div>
      <nz-carousel [nzEffect]="'scrollx'" [nzDotRender]="dotTemplate" nzAutoPlay="true"
        [nzAutoPlaySpeed]="carouselDelay" nzDots="false" style="height: 500px;"
        (nzBeforeChange)="beforeUpdateDot($event)" nzDotPosition="top">
        <div nz-carousel-content *ngFor="let item of featureSlides; index as featureIndex"
          style="text-align: center;height:300px;line-height:300px;">
          <div style="">
            <div style="text-align: center;font-size:2.0vh;">
              <img [src]="item.image" height="300" style="display: inline-block;">
              <br>
              <p style="width:80%;display:inline-block;">
              {{item.text}}
              </p>
            </div>
          </div>
        </div>
      </nz-carousel>
    </section>
    <section class="section bg-light" id="features">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 class="mb-0 text-capitalize"> <span class="font-weight-bold">Features</span></h2>
            <div class="main-title-border" style="margin-bottom: 10px;">
            </div>
          </div>
        </div>
      </div>
      <div style="display: block;">
        <div class="benefit-container">
          <div *ngFor="let item of benefits; let i = index" class="benefit-item  text-center"
            (mouseleave)="loseFocus(i)" (mouseenter)="focus(i)">
            <div style="height:5vw;">
              <div *ngFor="let iconClass of item.class" style="display:inline-block;">
                <i [ngClass]="iconClass"></i>
              </div>
            </div>
            <div style="margin-bottom:1vw;font-size:1.2vw;font-weight:500;">
              {{item.title}}
            </div>
            <div style="font-size:.9vw;min-height:4vw;">
              {{item.blurb}}
            </div>
            <div style="font-size:.9vw;">
              <!--
              <i *ngIf="item.videoLink" class="fa-regular fa-play-circle play-screencast" (click)="loadVideo(item.videoLink)" nz-tooltip
                nzTooltipTitle="Play a short screencast"></i>
                -->
              <div class="play-screencast" style="height:2vw;">
                <i *ngIf="item.videoLink" class="fa-solid fa-play-circle" nz-tooltip
                  nzTooltipTitle="Play a short screencast" (click)="loadVideo(item.videoLink)"></i>
              </div>
            </div>
            <!--
          <div>
            <button class="btn-custom btn-xs w-30 learn-more" (click)="showLearnMore(i)">learn more</button>
          </div>
          -->
          </div>
        </div>
      </div>
    </section>
    <!-- END CTA -->
    <section class="section" id="price">
      <div class="container" style="width:95%;">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <h2 class="mb-0 text-capitalize"> <span class="font-weight-bold"
                  (click)="showPriceEditor = !showPriceEditor">Pricing</span></h2>
              <div class="main-title-border" style="margin-bottom: 10px;">
              </div>
              <!--
              <div class="m-b-10">
                <h6>Billing Cycle</h6>
                <nz-radio-group [(ngModel)]="plans">
                  <label nz-radio-button nzValue="monthly" (click)="planChange()">Monthly</label>
                  <label nz-radio-button nzValue="annually" (click)="planChange()">Annually</label>
                </nz-radio-group>
              </div>
              -->
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <!-- BASIC -->
          <div class="col-md-4">
            <nz-card class="price-card">
              <div style="text-align: center;">
                <div class="media align-items-center" style="display:block;">
                  <i class="fa-duotone fa-user" style="font-size:2.5vw;color:green;margin-bottom:5px;"></i>
                  <div style="text-align: center;">
                    <span style="font-size:1.5vw;;display:block;">Basic</span>
                    <div style="text-align: left;font-size:12px;margin:10px 0;height:60px;">
                      For teams and organizations interested in taking the first step towards streamlining training and
                      supporting remote employees.
                    </div>
                    <div *ngIf="plans === 'monthly'" style="width:90%;display:inline-block;">
                      <div style="margin:10px 0;width:100%;">
                        <div style="display:block;width:100%;color:black;">
                          <span style="color:#aaaaaa;font-size:2vw;font-weight:300;vertical-align: super;">$</span>
                          <span
                            style="color:black;font-size:3vw;font-weight:400;">{{planCostPerUserHash['basic'][0]}}</span>
                          <span style="color:#aaaaaa;font-size:1.2vw;font-weight:300;">/user /mo</span>
                        </div>
                      </div>
                    </div>
                    <div style="padding:10px;height:50px;">

                    </div>
                  </div>
                  <div style="text-align: left;margin-top:40px;">
                    <div style="width:100%;">
                      <div class="pricing-line-item-category">
                        Setup
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          One Click Deploy
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Trainings
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          40 Trainings
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Assessments
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Custom Notifications
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Org Chart
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          User Training Status
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Collapsible Organization
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Save as PNG Image
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Group Assignment
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Group Messaging
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Technical Support
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Knowledge Base
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Live Chat Support
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Prioritized Support
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top:40px;">
                <h1>14 Day Free Trial</h1>
                <span style="color:#aaaaaa;font-size:12px;">No Credit Card Required</span>
                <br>
                <span style="color:#aaaaaa;font-size:12px;">Cancel Anytime</span>
              </div>
              <div style="margin-top:60px;">
                <div>
                  <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="basic"
                    style="display: inline-block;">
                    <button nz-button nzShape="round" nzType="primary" id="checkout-button"
                      style="display: inline-block;">Select
                      Plan
                    </button>
                  </a>
                </div>
              </div>
            </nz-card>
          </div>
          <!-- Pro -->
          <div class="col-md-4">
            <nz-card class="price-card">
              <div style="text-align: center;">
                <div class="media align-items-center" style="display:block;">
                  <i class="fa-duotone fa-user-tie" style="font-size:2.5vw;color:red;margin-bottom:5px;"></i>
                  <div style="text-align: center;">
                    <div style="font-size:1.5vw;display:block;">Pro</div>
                    <div style="text-align: left;font-size:12px;margin:10px 0;height:60px;">
                      For teams and organizations with a more significant and critical training requirement.
                    </div>
                    <div *ngIf="plans === 'monthly'" style="width:90%;display:inline-block;">
                      <div style="margin:10px 0;width:100%;">
                        <div style="display:block;width:100%;color:black;">
                          <span style="color:#aaaaaa;font-size:2vw;font-weight:300;vertical-align: super;">$</span>
                          <span
                            style="color:black;font-size:3vw;font-weight:400;">{{planCostPerUserHash['pro'][0]}}</span>
                          <span style="color:#aaaaaa;font-size:1.2vw;font-weight:300;">/user /mo</span>
                        </div>
                      </div>
                    </div>
                    <div style="padding:10px;height:50px;">

                    </div>
                  </div>
                  <div style="text-align: left;margin-top:40px;">
                    <div style="width:100%;">
                      <div class="pricing-line-item-category">
                        Setup
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          One Click Deploy
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Trainings
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          80 Trainings
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Assessments
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Custom Notifications
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Org Chart
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          User Training Status
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Collapsible Organization
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Save as PNG Image
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Group Assignment
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Group Messaging
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Technical Support
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Knowledge Base
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Live Chat Support
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-times" style="color:red;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Prioritized Support
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top:40px;">
                <h1>14 Day Free Trial</h1>
                <span style="color:#aaaaaa;font-size:12px;">No Credit Card Required</span>
                <br>
                <span style="color:#aaaaaa;font-size:12px;">Cancel Anytime</span>
              </div>
              <div style="margin-top:60px;">
                <div style="margin-top:10%;">
                  <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="pro"
                    style="display: inline-block;">
                    <button nz-button nzShape="round" nzType="primary" id="checkout-button"
                      style="display: inline-block;">Select
                      Plan
                    </button>
                    <!--
                    <button type="button" class="btn btn-custom btn-rounded" id="checkout-button"
                      style="display: inline-block;" disabled="earlyAccess">Select
                      Plan
                    </button>
                    -->
                  </a>
                </div>
              </div>
            </nz-card>
          </div>
          <!-- Expert -->
          <div class="col-md-4">
            <nz-card class="price-card">
              <div>
                <div class="media align-items-center" style="display:block;">
                  <i class="fa-duotone fa-user-graduate"
                    style="font-size:2.5vw;color:blueviolet;margin-bottom:5px;"></i>
                  <div style="text-align: center;">
                    <span style="font-size:1.5vw;;display:block;">Expert</span>
                    <div style="text-align: left;font-size:12px;margin:10px 0;height:60px;">
                      For teams and organizations interested in efficiently managing demanding employee training needs.
                    </div>
                    <div *ngIf="plans === 'monthly'" style="width:90%;display:inline-block;">
                      <div style="margin:10px 0;width:100%;">
                        <div style="display:block;width:100%;color:black;">
                          <span style="color:#aaaaaa;font-size:2vw;font-weight:300;vertical-align: super;">$</span>
                          <span
                            style="color:black;font-size:3vw;font-weight:400;">{{planCostPerUserHash['expert'][0]}}</span>
                          <span style="color:#aaaaaa;font-size:1.2vw;font-weight:300;">/user /mo</span>
                        </div>
                      </div>
                    </div>
                    <div style="padding:10px;height:50px;">
                      <i><a href="mailto:sales@mytrainingdocs.com">Contact Sales</a> for Enterprise Pricing</i>

                    </div>
                  </div>
                  <div style="text-align: left;margin-top:40px;">
                    <div style="width:100%;">
                      <div class="pricing-line-item-category">
                        Setup
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          One Click Deploy
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Trainings
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Unlimited Trainings
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Assessments
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc">
                          Custom Notifications
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Org Chart
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          User Training Status
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Collapsible Organization
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Save as PNG Image
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Group Assignment
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Group Messaging
                        </span>
                      </div>
                      <div class="pricing-line-item-category">
                        Technical Support
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Knowledge Base
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Live Chat Support
                        </span>
                      </div>
                      <div class="pricing-line-item-indented">
                        <span class="pricing-line-item-icon">
                          <i class="fa-solid fa-check" style="color:#52c41a;"></i>
                        </span>
                        <span class="pricing-line-item-desc-indented">
                          Prioritized Support
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top:40px;">
                <h1>14 Day Free Trial</h1>
                <span style="color:#aaaaaa;font-size:12px;">No Credit Card Required</span>
                <br>
                <span style="color:#aaaaaa;font-size:12px;">Cancel Anytime</span>
              </div>
              <div style="margin-top:60px;">
                <div>
                  <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="expert"
                    style="display: inline-block;">
                    <button nz-button nzShape="round" nzType="primary" id="checkout-button"
                      style="display: inline-block;">Select
                      Plan
                    </button>
                    <!--
                    <button type="button" class="btn btn-custom btn-rounded" id="checkout-button"
                      style="display: inline-block;" disabled="earlyAccess">Select
                      Plan
                    </button>
                  -->
                  </a>
                </div>
              </div>
            </nz-card>
          </div>
        </div>
      </div>
    </section>
    <!-- END PRICING -->


    <!-- START FAQ -->
    <!--
    <section class="section bg-light" id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <h2 class="mb-0 text-capitalize"><span class="font-weight-bold">FAQ</span></h2>
              <div class="main-title-border">
                <i class="mdi mdi-atom"></i>
              </div>
            </div>
          </div>
        </div>
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="headerTemplate" [nzActive]="panel.active"
            style="text-align: left;">
            <div style="padding-left:20px;font-size: 20px;color:#000000;font-weight: 300;">{{ panel.answer }}</div>
            <ng-template #headerTemplate>
              <div style="color:#888888;font-size: 18px;font-weight: 300;">
                {{ panel.question }}
              </div>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </section>
    -->
    <!-- END FAQ -->

    <!-- START CTA -->
    <!--
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 class="font-weight-bold">Questions? Ready to get started?</h2>
            <p class="text-muted mx-auto cta-desc mt-4 pt-2">Use the contact form below for any questions you may have.
              We
              will respond promptly. Or Start your 14 day free trail today. No credit card needed.</p>
            <div class="mt-4 pt-3">
              <button type="button" class="btn btn-custom btn-rounded" (click)="signup()">Start Free Trial</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
    <!-- END CTA -->

    <!-- START CONTACT -->
    <!--
    <section class="section" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center"> 
              <h2 class="mb-0 text-capitalize"><span class="font-weight-bold">Contact Us</span></h2>
              <div class="main-title-border">
                <i class="mdi mdi-atom"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 pt-4">
          <div class="col-lg-12">
            <div class="contact_form">
              <div id="message"></div>
              <form method="post" action="" name="contact-form" id="working_form">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mt-2">
                      <input name="name" id="name" type="text" class="form-control" placeholder="Name...">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mt-2">
                      <input name="email" id="email" type="email" class="form-control" placeholder="Email...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <input type="text" class="form-control" id="subject" placeholder="Subject...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mt-2">
                      <textarea name="comments" id="comments" rows="4" class="form-control"
                        placeholder="Message..."></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message"
                      disabled="true">
                    <div id="simple-msg"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    -->
    <!-- END CONTACT -->

    <!--START FOOTER-->
    <footer class="pt-5 footer" style="padding:10px !important;">
      <div class="container">
        <!--
        <div class="row pb-4">
          <div class="col-lg-3">
            <h6 class="footer-title text-uppercase">About Pioted</h6>
            <p class="mt-3 about_footer_color desc-line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit.sapien et lacus tempus varius.</p>
          </div>
          <div class="col-lg-3">
            <h6 class="footer-title text-uppercase">Important Link</h6>
            <ul class="list-unstyled footer_menu_list margin-t-30">
              <li><a href="">Terms & Condition</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Return Policy</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h6 class="footer-title text-uppercase">Our Pages</h6>
            <ul class="list-unstyled footer_menu_list margin-t-30">
              <li><a href="">Home</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Client</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h6 class="footer-title text-uppercase">Contact Us</h6>
            <p class="mb-1 about_footer_color mt-3"><i class="mdi mdi-email-outline"></i> : <span>support@website.com</span></p>
            <p class="mb-1 about_footer_color"><i class="mdi mdi-cellphone"></i> : <span>+1 234 569 798</span></p>
            <p class="mb-1 about_footer_color"><i class="mdi mdi-earth"></i> : <span>www.website.com</span></p>
            <p class="mb-1 about_footer_color"><i class="mdi mdi-hospital-building"></i> : <span>9:00 AM - 6:00 PM</span></p>
            <p class="mb-1 about_footer_color"><i class="mdi mdi-map-marker"></i> : <span>97 Ilchester Road, Muirhead, KY15 2GP</span></p>
          </div>
        </div>
      <div class="footer-border"></div>
        -->
        <div class="row">
          <div class="col-sm-12" style="height: 60px;">
            <div class="footer-alt text-center" style="margin-bottom:20px;">
              <a href="https://www.termsfeed.com/live/1100a7d2-97e5-4e58-b93f-8351cdc4e152"
                style="display:inline-block;margin-right:20px;">Cookies
                Policy</a>
              <a href="https://www.termsfeed.com/live/6763b3fb-c1e2-4385-948c-842c57cebf8e"
                style="display:inline-block;">Privacy
                Policy</a>
              <p class="copy-rights" style="display:inline-block;">2021 &copy; Teknetium LLC</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--END FOOTER-->

    <!-- BACK TO TOP -->
    <!--
  <a href="#" class="" style="position: fixed;right:20px;bottom: 10px;font-size:40px;"> <i
      class="fa-duotone fa-chevron-square-up" style="background: rgba(50,110,246, .25) !important;"> </i> </a>
  <a [ngxScrollTo]="destinations['home'].ngxScrollToDestination" [ngxScrollToDuration]="ngxScrollToDuration"
    [ngxScrollToEasing]="ngxScrollToEasing"><i class="fa-duotone fa-chevron-square-up"
      style="background: rgba(50,110,246, .25) !important;"> </i></a>
      -->

  </div>
</div>