<div class="page">
  <div class="navbar">
    <!--
    <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </div>
    -->
    <div class="nav-elements">
      <div class="nav-element" (click)="goToPage('home')">
        Home
      </div>
      <div class="nav-element" (click)="goToPage('work')">
        Work
      </div>
      <div class="nav-element" (click)="goToPage('awards')">
        Awards
      </div>
      <div class="nav-element" (click)="goToPage('publications')">
        Publications
      </div>
      <div class="nav-element" (click)="goToPage('postings')">
        Postings
      </div>
      <div class="nav-element" (click)="goToPage('studio')">
        Studio
      </div>
      <div class="nav-element" (click)="goToPage('contacts')">
        Contacts
      </div>
    </div>
    <div class="logo">
      <span>
        Arch 11
      </span>
    </div>
  </div>
  <div *ngIf="page === 'home'">
    <div class="carousel">
      <nz-carousel [nzEffect]="effect" nzAutoPlay="true" [nzAutoPlaySpeed]="carouselDelay" style="height:60vw;">
        <div nz-carousel-content *ngFor="let item of images" style="text-align: center;height:60vw;">
          <img style="text-align: center;display:inline-block;" [src]="item.image" height="100%">
        </div>
      </nz-carousel>
    </div>
    <div style="padding:5vw 20vw;display:block;">
      <div
        style="font-size:26px;color:black;font-weight:200;display:inline-block;margin-bottom:3vw;letter-spacing:3px;">
        We design modern environments for play, work, living and learning.<br>
      </div>
      <div
        style="font-size:14px;color:black;font-weight:200;display:block;margin-bottom:3vw;width:80%;letter-spacing:2px;">
        From our studios in Denver and Boulder Colorado, we design modern architecture; environments for play, work,
        living and
        learning. We work between the intimate scale of the bespoke luxury-residence and the complexity of a commercial
        headquarter, artfully crafting each to place.
      </div>

      <div
        style="font-size:14px;color:black;font-weight:250;display:block;width:70%;margin-bottom:3vw;letter-spacing:2px;">
        Our work heightens the experience of the everyday.
      </div>
    </div>
  </div>
  <div *ngIf="page === 'work'" class="work">
    <div class="page-banner">
      <img src="assets/images/arch11-images/banner.jpeg" width="100%">
      <div class="page-label">
        WORK
      </div>
    </div>
    <div class="project-bar">
      <div class="filter-bar">
        <nz-select [(ngModel)]="selectedType" nzAllowClear nzPlaceHolder="Type" nzSize="small"
          style="width:160px;margin-right:10px;">
          <nz-option nzValue="residential" nzLabel="Residential"></nz-option>
          <nz-option nzValue="commercial" nzLabel="Commercial"></nz-option>
          <nz-option nzValue="unbuilt" nzLabel="Unbuilt"></nz-option>
          <nz-option nzValue="inTheWorks" nzLabel="In the Works"></nz-option>
        </nz-select>
        <nz-select [(ngModel)]="selectedMateria" nzAllowClear nzPlaceHolder="Material" nzSize="small"
          style="width:160px;margin-right:10px;">
          <nz-option nzValue="bamboo" nzLabel="Bamboo"></nz-option>
          <nz-option nzValue="concrete" nzLabel="Concrete"></nz-option>
        </nz-select>
        <nz-select [(ngModel)]="selectedLocation" nzAllowClear nzPlaceHolder="Location" nzSize="small"
          style="width:160px;margin-right:10px;">
          <nz-option nzValue="boulder" nzLabel="Boulder"></nz-option>
          <nz-option nzValue="denver" nzLabel="Denver"></nz-option>
          <nz-option nzValue="switzerland" nzLabel="Switzerland"></nz-option>
        </nz-select>
        <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Architectural Elements" nzSize="small"
          style="width: 250px;margin-right:10px;">
          <nz-option nzValue="glass" nzLabel="Glass"></nz-option>
          <nz-option nzValue="cantilever" nzLabel="Cantilever"></nz-option>
        </nz-select>
      </div>
      <div class="projects">
        <div *ngFor="let project of projects; index as projectIndex" class="project" style="display:inline-block;margin-right:.4vw" (click)="selectProject(projectIndex)" nz-tooltip
        [nzTooltipTitle]="project.title" nzTooltipPlacement="bottom">
          <img style="background-color: white;text-align: center;" [src]="project.thumbnail" height="150" [ngClass]="{'selected-project': currentProjectIndex === projectIndex, 'notselected-project': currentProjectIndex !== projectIndex}">
        </div>
      </div>
    </div>
    <div class="project-details">
      <span class="project-title">
      {{ currentProject.title }}
      </span>
      <nz-tabset>
        <nz-tab nzTitle="Project Photos">
          <nz-carousel [nzEffect]="effect" nzAutoPlay="true" [nzAutoPlaySpeed]="carouselDelay" style="height:50vw;">
            <div nz-carousel-content *ngFor="let image of currentProject.images" style="text-align: center;height:60vw;">
              <img style="text-align: center;display:inline-block;" [src]="image" height="100%">
            </div>
          </nz-carousel>

        </nz-tab>
        <nz-tab nzTitle="Project Description">
          
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
  <!--
        <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay="true" [nzAutoPlaySpeed]="carouselDelay" style="width:100%;height:60vw;"
          (nzBeforeChange)="beforeUpdateDot($event)" [nzDotRender]="dotTemplate" nzDotPosition="bottom">
          <div nz-carousel-content *ngFor="let item of images; index as imageIndex" style="width:100%;height:60vw;text-align: center;">
            <img style="background-color: white;text-align: center;" [src]="item.image"
              height="40%">
              < !--
            <p style="float:right;width:50%;height:20vw;font-size:2vw;color:black;padding:15% 5%; margin-right:3vw;">
              {{item.text}}
            </p>
            -- >
          </div>
        </nz-carousel>
        <ng-template #dotTemplate let-index>
          <div style="text-align: center;width:100%;background-color: white;">
            <i class="fa-circle"
              style="display:inline-block;font-size:14px;cursor:pointer;margin-right:5px;color:blueviolet;margin-bottom:20px;"
              [ngClass]="{'current-slide': currentSlide === index, 'fa-solid': currentSlide === index, 'far': currentSlide !== index }"
              (click)="goTo(index)"></i>
          </div>
        </ng-template>
        -->
</div>