<div class="page">
  <div class="navbar">
    <div class="hamburger">
      <i class="fa-solid fa-bars" (click)="showNav = true"></i>
    </div>
    <!--
    <div class="nav-elements">
      <div class="nav-element" (click)="goToPage('home')">
        Home
      </div>
      <div class="nav-element" (click)="goToPage('work')">
        Work
      </div>
      <div class="nav-element" (click)="goToPage('awards')">
        Awards
      </div>
      <div class="nav-element" (click)="goToPage('publications')">
        Publications
      </div>
      <div class="nav-element" (click)="goToPage('postings')">
        Postings
      </div>
      <div class="nav-element" (click)="goToPage('studio')">
        Studio
      </div>
      <div class="nav-element" (click)="goToPage('contacts')">
        Contacts
      </div>
    </div>
    -->
    <nz-drawer [nzClosable]="true" [nzVisible]="showNav" nzPlacement="left" (nzOnClose)="showNav = false">
      <div class="nav-elements">
        <div class="nav-element" (click)="goToPage('home')">
          Home
        </div>
        <div class="nav-element" (click)="goToPage('work')">
          Work
        </div>
        <div class="nav-element" (click)="goToPage('awards')">
          Awards
        </div>
        <div class="nav-element" (click)="goToPage('publications')">
          Publications
        </div>
        <div class="nav-element" (click)="goToPage('postings')">
          Postings
        </div>
        <div class="nav-element" (click)="goToPage('studio')">
          Studio
        </div>
        <div class="nav-element" (click)="goToPage('team')">
          Team
        </div>
        <div class="nav-element" (click)="goToPage('process')">
          Process
        </div>
        <div class="nav-element" (click)="goToPage('contacts')">
          Contacts
        </div>
      </div>
    </nz-drawer>
    <!--
    <nz-drawer [nzClosable]="true" [nzVisible]="showFilters" nzPlacement="top" [nzHeight]="150"
      (nzOnClose)="showFilters = false">
    </nz-drawer>
    -->
    <div *ngIf="page !== 'home'" style="position:fixed;left:60px;">
      <div style="font-size:24px;display:inline-block;letter-spacing: 3px;">
        {{ pageLabelHash[page] }}
      </div>
    </div>
    <!--
    <div *ngIf="page === 'awards'" style="position:fixed;left:5vw;">
      <div style="font-size:24px;display:inline-block;letter-spacing: 3px;">
        Awards
      </div>
    </div>
    <div *ngIf="page === 'publications'" style="position:fixed;left:5vw;">
      <div style="font-size:24px;display:inline-block;letter-spacing: 3px;">
        Publications
      </div>
    </div>
    <div *ngIf="page === 'postings'" style="position:fixed;left:5vw;">
      <div style="font-size:24px;display:inline-block;letter-spacing: 3px;">
        Postings
      </div>
    </div>
    <div *ngIf="page === 'studio'" style="position:fixed;left:5vw;">
      <div style="font-size:24px;display:inline-block;letter-spacing: 3px;">
        Studio
      </div>
    </div>
    <div *ngIf="page === 'contacts'" style="position:fixed;left:5vw;">
      <div style="font-size:24px;display:inline-block;letter-spacing: 3px;">
        Contacts
      </div>
    </div>
    -->
    <div class="logo">
      <span>
        Arch 11
      </span>
    </div>
  </div>
  <div style="width:100%;height:100%;">
    <!--
    <div *ngIf="page === 'work'" class="toolbar">
      <div *ngIf="page === 'work'">
        <i class="fa-regular fa-filter" style="font-size:18px;float:left;cursor:pointer;" (click)="showFilters = true"
          nz-tooltip nzTooltipTitle="Show Project Filters" nzTooltipPlacement="bottom">
        </i>
        <i class="fa-regular fa-magnifying-glass" style="float:right;font-size:18px;cursor:pointer;"
          (click)="showFilters = true" nz-tooltip nzTooltipTitle="Show Project Filters" nzTooltipPlacement="bottom">
        </i>
        <div style="clear: both;"></div>
      </div>

    </div>
    -->
    <div *ngIf="page === 'home'">
      <div class="carousel">
        <nz-carousel [nzEffect]="effect" nzAutoPlay="true" [nzAutoPlaySpeed]="carouselDelay" style="height:60vw;">
          <div nz-carousel-content *ngFor="let item of images" style="text-align: center;height:60vw;">
            <img style="text-align: center;display:inline-block;" [src]="item.image" height="100%">
          </div>
        </nz-carousel>
      </div>
      <div style="padding:5vw 20vw;display:block;">
        <div
          style="font-size:26px;color:black;font-weight:200;display:inline-block;margin-bottom:3vh;letter-spacing:3px;">
          We design modern environments for play, work, living and learning.<br>
        </div>
        <div
          style="font-size:14px;color:black;font-weight:200;display:block;margin-bottom:3vh;width:80%;letter-spacing:2px;">
          From our studios in Denver and Boulder Colorado, we design modern architecture; environments for play, work,
          living and
          learning. We work between the intimate scale of the bespoke luxury-residence and the complexity of a
          commercial
          headquarter, artfully crafting each to place.
        </div>

        <div
          style="font-size:14px;color:black;font-weight:250;display:block;width:70%;margin-bottom:3vh;letter-spacing:2px;">
          Our work heightens the experience of the everyday.
        </div>
      </div>
    </div>
    <div *ngIf="page === 'work'" class="work">
      <!--
    <div class="page-banner">
      <img src="assets/images/arch11-images/banner.jpeg" width="100%">
      <div class="page-label">
        Work
      </div>
    </div>
    -->
      <div class="project-bar">

        <div class="filter-bar">
          <div style="background-color: white;display: block;">
            <div style="float:left;">
              <div style="display: inline-block;">
                <div style="display: block;">
                  Project Type
                </div>

                <nz-select [(ngModel)]="selectedType" nzAllowClear nzSize="small" nzPlaceHolder="Select Type"
                  nzSize="small" style="width:160px;margin-right:10px;display: block;"
                  (ngModelChange)="filterChanged($event)">
                  <nz-option nzValue="residential" nzLabel="Residential"></nz-option>
                  <nz-option nzValue="commercial" nzLabel="Commercial"></nz-option>
                  <nz-option nzValue="unbuilt" nzLabel="Unbuilt"></nz-option>
                  <nz-option nzValue="inTheWorks" nzLabel="In the Works"></nz-option>
                </nz-select>
              </div>
              <div style="display: inline-block;">
                <div style="display: block;">
                  Materials
                </div>
                <nz-select [(ngModel)]="selectedMaterial" nzAllowClear nzSize="small" nzPlaceHolder="Select Material"
                  (ngModelChange)="filterChanged($event)" nzSize="small"
                  style="width:160px;margin-right:10px;display: block;">
                  <nz-option nzValue="bamboo" nzLabel="Bamboo"></nz-option>
                  <nz-option nzValue="concrete" nzLabel="Concrete"></nz-option>
                </nz-select>
              </div>
              <div style="display: inline-block;">
                <div style="display: block;">
                  Location
                </div>
                <nz-select [(ngModel)]="selectedLocation" nzAllowClear [nzSize]="small" nzPlaceHolder="Select Location"
                  (ngModelChange)="filterChanged($event)" nzSize="small"
                  style="width:160px;margin-right:10px;display: block;">
                  <nz-option nzValue="boulder" nzLabel="Boulder"></nz-option>
                  <nz-option nzValue="denver" nzLabel="Denver"></nz-option>
                  <nz-option nzValue="switzerland" nzLabel="Switzerland"></nz-option>
                </nz-select>
              </div>
              <div style="display: inline-block;">
                <div style="display: block;">
                  Architectural Elements
                </div>
                <nz-select [(ngModel)]="selectedArchElements" nzAllowClear nzSize="small"
                  (ngModelChange)="filterChanged($event)" nzPlaceHolder="Select Architectural Element" nzSize="small"
                  style="width: 250px;margin-right:10px;display: block;">
                  <nz-option nzValue="glass" nzLabel="Glass"></nz-option>
                  <nz-option nzValue="cantilever" nzLabel="Cantilever"></nz-option>
                </nz-select>
              </div>
            </div>

            <div style="float:right;font-size:16px;padding-top:30px;">
              {{ filteredProjects.length }} Projects Match
            </div>

            <div style="clear: both;"></div>
          </div>
        </div>
        <div class="projects" *ngIf="filteredProjects.length > 0">
          <div *ngFor="let project of filteredProjects; index as projectIndex" class="project"
            style="display:inline-block;margin-right:.4vw;height:100%;" (click)="selectProject(projectIndex)" nz-tooltip
            [nzTooltipTitle]="project.title" nzTooltipPlacement="bottom">
            <img style="background-color: white;text-align: center;" [src]="project.thumbnail" height="100%"
              [ngClass]="{'selected-project': currentProjectIndex === projectIndex, 'notselected-project': currentProjectIndex !== projectIndex}">
          </div>
        </div>
        <div *ngIf="filteredProjects.length === 0" style="padding: 20px;font-size:26px;color:red;">
          No Matching Projects Found
        </div>
        <div class="project-details" *ngIf="filteredProjects.length > 0">
          <div class="project-title">
            <span style="margin-right:20px;">
            {{ currentProject?.title }}
            </span>
            <nz-tag [nzColor]="'geekblue'" *ngFor="let tag of currentProject?.tags"  style="vertical-align: middle;">{{ tag }}</nz-tag>
          </div>
          <div style="display:inline-block;padding: 20px;">
          </div>
          <div>
            <nz-tabset >
              <nz-tab nzTitle="Project Photos">
                <nz-carousel [nzEffect]="effect" nzAutoPlay="true" [nzAutoPlaySpeed]="carouselDelay" [ngStyle]="{'height.px': projectDetailHeight + 20}">
                  <div nz-carousel-content *ngFor="let image of currentProject?.images"
                    style="text-align: center;height:50vh;overflow-x: scroll;" >
                    <img style="text-align: center;display:inline-block;" [src]="image" [height]="projectDetailHeight">
                  </div>
                </nz-carousel>

              </nz-tab>
              <nz-tab nzTitle="Project Description">

              </nz-tab>
            </nz-tabset>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="page === 'awards'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/awards" title="Awards" width="100%" height="100%"></iframe>
    </div>
    <div *ngIf="page === 'publications'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/publication" title="Publications" width="100%" height="100%"></iframe>
    </div>
    <div *ngIf="page === 'postings'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/postings" title="Postings" width="100%" height="100%"></iframe>
    </div>
    <div *ngIf="page === 'studio'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/studio" title="Awards" width="100%" height="100%"></iframe>
    </div>
    <div *ngIf="page === 'team'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/studio/team" title="Awards" width="100%" height="100%"></iframe>
    </div>
    <div *ngIf="page === 'process'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/studio/process" title="Awards" width="100%" height="100%"></iframe>
    </div>
    <div *ngIf="page === 'contacts'" style="width:100%; height:100%;">
      <iframe src="https://arch11.com/contact" title="Awards" width="100%" height="100%"></iframe>
    </div>
  </div>
  <!--
        <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay="true" [nzAutoPlaySpeed]="carouselDelay" style="width:100%;height:60vw;"
          (nzBeforeChange)="beforeUpdateDot($event)" [nzDotRender]="dotTemplate" nzDotPosition="bottom">
          <div nz-carousel-content *ngFor="let item of images; index as imageIndex" style="width:100%;height:60vw;text-align: center;">
            <img style="background-color: white;text-align: center;" [src]="item.image"
              height="40%">
              < !--
            <p style="float:right;width:50%;height:20vw;font-size:2vw;color:black;padding:15% 5%; margin-right:3vw;">
              {{item.text}}
            </p>
            -- >
          </div>
        </nz-carousel>
        <ng-template #dotTemplate let-index>
          <div style="text-align: center;width:100%;background-color: white;">
            <i class="fa-circle"
              style="display:inline-block;font-size:14px;cursor:pointer;margin-right:5px;color:blueviolet;margin-bottom:20px;"
              [ngClass]="{'current-slide': currentSlide === index, 'fa-solid': currentSlide === index, 'far': currentSlide !== index }"
              (click)="goTo(index)"></i>
          </div>
        </ng-template>
        -->
</div>