.action {
    display:inline-block;
    padding:5px;
    margin-right:4px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid white;
}

.action:hover {
    border: 1px solid #d6d6d6;
    background-color: #e6e6e6;
    border-radius: 4px;
}

.disabled {
    opacity: .2;
    cursor: not-allowed;
}

.no-padding {
    padding:0;
}

.with-padding {
    padding: 20px;
}