<div *ngIf="authenticatedUser?.firstName !== ''" style="height:100%;width:100%;padding:30px;position:relative;">
    <!--
    <i *ngIf="authenticatedUser?.userType === 'supervisor'" z-icon nzType="question-circle" nzTheme="twotone"
        style="cursor:pointer;position:absolute;top:0;left:0;font-size:20px;color:#000000;" (click)="startTour()"
        nz-tooltip nzTooltipTitle="A little help"></i>
        -->
    <div style="display:block;">
        <div joyrideStep="task0Step1" [stepContent]="stepContent" [stepContentParams]="taskStepContentHash?.task0Step1"

            style="margin-bottom:20px;display: inline-block;">
            <span style="font-weight: 200;font-size:28px;">
                Welcome,
            </span>
            &nbsp;&nbsp;
            <span style="font-weight: 400;font-size:28px;">
                {{(authenticatedUser$ | async)?.firstName}}!
            </span>
        </div>
        <div *ngIf="authenticatedUser?.userType !== 'supervisor'">
            <app-my-trainings useBanner="yes"></app-my-trainings>
        </div>
    </div>
        <ng-template #stepContent let-task="task" let-title="title" let-content="content">
            <div style="width:500px;height:300px;">
                <div style="border:1px solid #bbbbbb;border-radius:5px;background-color: #f1f1f1;;">
                    <div style="float:left;font-size:42px;color:red;font-weight:500;">{{task}} - </div>
                    <div style="float:left;font-weight:200;font-size:22px;">{{title}}</div>
                    <div style="clear: both;"></div>
                    {{ content }}
                </div>
            </div>
        </ng-template>
    <div *ngIf="authenticatedUser?.userType === 'supervisor'">
        <div style="width:100%;display:block;height:60%;">
                <nz-card style="float:left;width:48%;" [nzTitle]="userCardTitle" joyrideStep="task0Step2" [stepContent]="stepContent" [stepContentParams]="taskStepContentHash?.task0Step2"
                    [nzExtra]="extraTemplate" >
                    <div *ngIf="myTeam.length === 0">
                        <span style="font-weight:200;" (click)="goTo('/myteam')">
                            You have not onboarded your team/organization yet!<br>
                            Head over to the <span style="color:blue;cursor: pointer;">My Team</span> page.
                        </span>
                    </div>
                    <div *ngIf="myOrgUsers.length > 0" style="width:100%;">
                        <nz-list nzItemLayout="vertical" nzSize="small" style="width:100%;height: 100%;overflow: scroll;">
                            <nz-list-item *ngFor="let user of myTeam" (click)="selectUser(user._id)" class="list-item"
                                style="width:100%;cursor:pointer;padding:7px;">
                                <div style="width:100%;vertical-align: text-bottom;height:36px;">
                                    <div style="padding:7px;width:50%;float:left;">
                                        <i [ngClass]="userTypeIconHash[user.userType]"
                                            style="width:12%;font-size:20px;float:left;vertical-align: middle;"
                                            [ngStyle]="{'color': trainingStatusColorHash[user.trainingStatus]}">
                                        </i>
                                        <div style="float:left;padding-left:10px;font-size:14px;">
                                            {{ user.firstName }} {{ user.lastName }}
                                        </div>
                                    </div>
                                    <div style="float:right;width:50%;vertical-align: middle;">
                                        <div *ngFor="let ut of uidUTHash[user._id]">
                                            <div *ngIf="teamTrainingHash[ut.tid]" style="float:right;margin-left:10px;"
                                                nz-tooltip [nzTooltipTitle]="teamTrainingHash[ut.tid].title"
                                                [ngClass]="{'completed': ut.status === 'completed', 'pastDue': ut.status === 'pastDue', 'upToDate': ut.status === 'upToDate', 'pendingCertApproval': ut.status === 'pendingCertUpload'}">
                                                <i [ngClass]="teamTrainingHash[ut.tid].iconClass"
                                                    style="display:inline-block;font-size:22px;vertical-align: middle;margin:5px 0;"
                                                    [ngStyle]="{'color': teamTrainingHash[ut.tid].iconColor}">
                                                </i>
                                                <i *ngIf="teamTrainingHash[ut.tid].type === 'recurring'"
                                                    class="fas fa-redo-alt" style="font-size:10px;vertical-align: top;">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nz-list-item>
                        </nz-list>
                    </div>
                </nz-card>
                <ng-template #extraTemplate>
                    <div *ngIf="myTeam.length > 0" style="float:right;">
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            Legend
                            <i nz-icon nzType="down"></i>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item>
                                    <div class="upToDate"
                                        style="float:left;width:12px;height:12px;margin-right:5px;margin-top:2px;">
                                    </div>
                                    <div style="margin-left:5px;vertical-align: top;font-size:12px;">&nbsp;&nbsp;Up To
                                        Date</div>
                                </li>
                                <li nz-menu-item>
                                    <div class="pastDue"
                                        style="float:left;width:12px;height:12px;margin-right:5px;margin-top:2px;">
                                    </div>
                                    <div style="margin-left:5px;vertical-align: top;font-size:12px;">&nbsp;&nbsp;Past
                                        Due</div>
                                </li>
                                <li nz-menu-item>
                                    <div class="completed"
                                        style="float:left;width:12px;height:12px;margin-right:5px;margin-top:2px;">
                                    </div>
                                    <div style="margin-left:5px;vertical-align: top;font-size:12px;">
                                        &nbsp;&nbsp;Completed</div>
                                </li>
                                <li nz-menu-item>
                                    <div class="pendingCertApproval"
                                        style="float:left;width:12px;height:12px;margin-right:5px;margin-top:2px;">
                                    </div>
                                    <div style="margin-left:5px;vertical-align: top;font-size:12px;">
                                        &nbsp;&nbsp;Pending Cert Approval
                                    </div>
                                </li>
                                <li nz-menu-item>
                                    <i class="fas fa-redo-alt" style="float:left;font-size:12px;margin-right:5px;">
                                    </i>
                                    <div style="margin-left:5px;vertical-align: top;font-size:12px;">
                                        &nbsp;&nbsp;Recurring Training
                                    </div>
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                        <div style="clear:both;"></div>
                    </div>
                </ng-template>
            <nz-card style="float:right;width:48%;" nzTitle="Trainings"
                joyrideStep="task0Step3"  [stepContent]="stepContent" [stepContentParams]="taskStepContentHash?.task0Step2">
                <div *ngIf="trainings.length === 0" style="padding:40px">
                    <span style="font-weight:200;" (click)="goTo('/trainings')">
                        You have not created any trainings yet!<br>
                        Head over to the <span style="color:blue;cursor: pointer;">All Trainings</span> page.
                    </span>
                </div>
                <div *ngIf="trainings.length > 0" style="width:100%;max-height:60%;overflow: scroll;">
                    <nz-list nzItemLayout="vertical" nzSize="small">
                        <nz-list-item *ngFor="let training of trainings" (click)="selectTraining(training._id)"
                            class="list-item" style="cursor:pointer;">
                            <div style="display:inline-block;width:10%;padding:5px;">
                                <i [ngClass]="training.iconClass" style="font-size:20px;vertical-align: bottom;"
                                    [ngStyle]="{'color': training.iconColor}">
                                </i>
                                <i *ngIf="training.type === 'recurring'" class="fas fa-redo-alt"
                                    style="font-size:10px;vertical-align: top;">
                                </i>
                            </div>
                            <div style="display:inline-block;width:90%;padding:5px;">
                                <div style="width:100%;vertical-align: middle;font-size:14px;">
                                    {{ training.title }}
                                </div>
                            </div>
                        </nz-list-item>
                    </nz-list>
                </div>
            </nz-card>
            <div style="clear:both;"></div>
        </div>
        <div style="width:100%;display:block;text-align: center;">
            <!--
    <div [ngStyle]="{ width: '100%', border: '1px solid #d9d9d9', borderRadius: '4px' }">
        <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)"
            (nzPanelChange)="onPanelChange($event)"></nz-calendar>
    </div>
    -->
            <!--
           <nz-card *ngIf="myTeam.length > 0 && trainings.length > 0" style="width:100%;" [nzTitle]="titleTemplate"
                style="border: 1px solid #dddddd;">

                <div
                    style="display:block;width:100%;padding-left:20px;padding-top:20px;text-align:left;height:85%;overflow-y: scroll;">
                    <nz-timeline *ngIf="filteredSessionLog && filteredSessionLog.length > 0">
                        <nz-timeline-item *ngFor="let session of filteredSessionLog">
                            <div style="display:block;">
                                <div *ngIf="session" style="float:left;font-size:16px;">
                                    {{myTeamIdHash[session.uid].firstName}} {{myTeamIdHash[session.uid].lastName}}
                                </div>
                                <div style="float:left;margin-left:10px;font-size:12px;color:#bbbbbb;padding:4px 0;">
                                    {{session.startTime| date:'medium'}}&nbsp;&nbsp;({{timeFormat(session.stopTime - session.startTime)}})
                                </div>
                                <div *ngIf="teamTrainingHash && teamTrainingHash[session.tid]"
                                    style="float:right;padding-top:4px;">
                                    <div style="display:inline-block;margin-right:10px;">
                                        <i [ngClass]="teamTrainingHash[session.tid].iconClass"
                                            style="font-size:20px;vertical-align: middle;"
                                            [ngStyle]="{'color': teamTrainingHash[session.tid].iconColor}" nz-tooltip
                                            [nzTooltipTitle]="teamTrainingHash[session.tid].title">
                                        </i>
                                    </div>
                                    < !--
                            <div style="display:inline-block;">
                                {{teamTrainingHash[session.tid].title}}
                            </div>
                            -- >
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </nz-timeline-item>
                    </nz-timeline>
                    <div *ngIf="filteredSessionLog && filteredSessionLog.length === 0">
                        <nz-alert nzType="error" nzMessage="No sessions found!"
                            nzDescription="{{startRangeTimeMS| date:'medium'}}&nbsp;&nbsp;-&nbsp;&nbsp;{{endRangeTimeMS| date:'medium'}}">
                        </nz-alert>

                    </div>
                </div>
            </nz-card>
            -->
            <ng-template #titleTemplate>
                <div style="" joyrideStep="task0Step4" title="Team member training sessions">
                    Training Sessions
                </div>
                <div style="display:block;width:100%;">
                    <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onDateRangeChange($event)"
                        nzFormat="MMM d, y">
                    </nz-range-picker>
                </div>
            </ng-template>

        </div>
    </div>
</div>