<div style="height:100%;width:100%;padding:30px;">
    <div style="display:block;">
        <div style="margin-bottom:20px;display: inline-block;margin-left:20px;">
            <span style="font-weight: 200;font-size:28px;">
                Welcome,
            </span>
            &nbsp;&nbsp;
            <span style="font-weight: 400;font-size:28px;">
                {{(authenticatedUser$ | async)?.firstName}}!
            </span>
        </div>
    </div>
    <div style="width:60%;display:inline-block;">
        <div style="width:100%;display:block;padding:20px;">
            <div joyrideStep="step1" title="Page Title" text="Main title!"
                style="font-size:22px;border-bottom:1px solid #dddddd;">
                Team Members
            </div>
            <div *ngIf="myTeam.length === 0" style="padding:40px">
                <span style="font-size: 22px;font-weight:200;" (click)="goTo('/myteam')">
                    You have not added any team members yet!<br>
                    Head over to the <span style="color:blue;cursor: pointer;">My Team</span> page.
                </span>
            </div>
            <div *ngIf="myTeam.length > 0" style="width:100%;">
                <nz-list nzItemLayout="vertical" nzSize="small" style="width:100%;">
                    <nz-list-item *ngFor="let user of myTeam" (click)="selectUser(user._id)" class="list-item"
                        style="width:100%;">
                        <div *ngIf="userStatHash[user._id]" style="width:100%;">
                            <i [ngClass]="userTypeIconHash[user.userType]"
                                style="display:inline-block;font-size:20px;width:10%;justify-content: left;"
                                [ngStyle]="{'color': trainingStatusColorHash[user.trainingStatus]}">
                            </i>
                            <div style="display:inline-block;width:fit-content;width:25%;justify-content: left;">
                                {{ user.firstName }} {{ user.lastName }}
                            </div>
                            <div style="display:inline-block;width:fit-content;width:35%;justify-content: left;">
                                <div *ngIf="userStatHash[user._id].completedCnt > 0" style="display:inline-block;margin-right:20px;" nz-tooltip nzTooltipTitle="Completed Trainings">
                                    <i class="fad fa-graduation-cap"
                                        style="font-size:14px;color:blue;"></i>&nbsp;-&nbsp;{{ userStatHash[user._id].completedCnt }}
                                </div>
                                <div *ngIf="userStatHash[user._id].pastDueCnt > 0" style="display:inline-block;margin-right:20px;" nz-tooltip nzTooltipTitle="Past Due Trainings">
                                    <i class="fad fa-graduation-cap"
                                        style="font-size:14px;color:red;"></i>&nbsp;-&nbsp;{{ userStatHash[user._id].pastDueCnt }}
                                </div>
                                <div *ngIf="userStatHash[user._id].upToDateCnt > 0  " style="display:inline-block;margin-right:20px;" nz-tooltip nzTooltipTitle="Up To Date Trainings">
                                    <i class="fad fa-graduation-cap"
                                        style="font-size:14px;color:#75c040;"></i>&nbsp;-&nbsp;{{ userStatHash[user._id].upToDateCnt }}
                                </div>
                            </div>
                        </div>
                    </nz-list-item>
                </nz-list>
            </div>
        </div>
        <div style="width:100%;display:block;padding:20px;">
            <div joyrideStep="step2" title="Page Title" text="Main title!"
                style="font-size:22px;border-bottom:1px solid #dddddd;">
                Trainings
            </div>
            <div *ngIf="trainings.length === 0" style="padding:40px">
                <span style="font-size: 22px;font-weight:200;" (click)="goTo('/trainings')">
                    You have not created any trainings yet!<br>
                    Head over to the <span style="color:blue;cursor: pointer;">All Trainings</span> page.
                </span>
            </div>
            <div *ngIf="trainings.length > 0">
                <nz-list nzItemLayout="vertical" nzSize="small">
                    <nz-list-item *ngFor="let training of trainings" (click)="selectTraining(training._id)"
                        class="list-item">
                        <i [ngClass]="training.iconClass"
                            style="font-size:20px;width:10%;text-align:center;vertical-align: middle;"
                            [ngStyle]="{'color': training.iconColor}">
                        </i>
                        <span style="width: 40%;">
                            {{ training.title }}
                        </span>
                    </nz-list-item>
                </nz-list>
            </div>
        </div>
    </div>
    <div style="width:40%;display:inline-block;">

    </div>
</div>