.myteam-container {
    padding-top: 20px;
    height: 100%;;
}

.mytrainings {
    
}

.list-item {
}

.list-item:hover {
    background-color: #f5f5f5;
}

.tab-titles {
    width:fit-content;
    height:40px;
    padding:10px 20px;
    margin-right: 2px;
    display: inline-block;
}

.tab-titles:hover {
    color: blue;
    background-color: #f4f4f4;
}

.selected-tab {
    border-bottom:2px solid blue;
    color: blue;
    background-color: #f4f4f4;
}