<div style="width:100%;" [ngStyle]="{'height.px':height}">
    <div style="width:100%;text-align: center;margin-bottom:5px;">
        <i [ngClass]="selectedIcon" style="font-size:60px;" [ngStyle]="{'color': iconColor}"></i>
        <span *ngIf="selectedIcon === ''">No Icon Selected</span>
    </div>
    <div style="background-color: #f5f5f5; padding:10px;border:1px solid #dddddd;border-radius: 5px;">
        <span style="font-size:18px;font-weight:300;">Search Icon Names & Tags</span>
        <input #iconSearch type="text" nz-input placeholder="Enter search text" [(ngModel)]="iconSearchStr"
            (keyup)="keypressCallback($event)" autofocus style="margin-bottom:10px;" />
    </div>
    <div style="width:100%;">
        <div style="display:block;width:100%;height:fit-content;margin-bottom:20px;text-align: center;">
            <div style="position:relative;float:left;width:33%;height:100%;" (mouseenter)="showColorPalette = true"
                (mouseleave)="showColorPalette = false">
                <div style="display:block;height:20%;">
                    <span style="font-size:18px;">Color</span>
                </div>
                <div style="width:100%;">
                    <div class="color-chip" style="float:left"
                        [ngStyle]="{'background-color': currentColorObj.colorVal}"></div>
                    <span
                        style="line-height:30px;font-size: 16px;float:left;margin-left:20px;">{{currentColorObj.colorName}}
                    </span>
                    <span style="float:right;margin-right:10px;">
                        <icon class="fal fa-angle-down" style="font-size:22px;line-height:30px;"></icon>
                    </span>
                </div>
                <div [@colorSlide]="showColorPalette ? 'open' : 'closed'"
                    style="position:absolute;top:60px;width:100%;height:200px;overflow-y: scroll;background-color: white;z-index: 2;padding:4px;border:1px solid #bbbbbb;border-radius: 5px;">
                    <div *ngFor="let color of colorArray" class="color-chip" style="display: inline-block;margin-right:3px;cursor: pointer;"
                        [ngStyle]="{'background-color': color.colorVal}" (click)="setIconColorString(color)"></div>
                </div>
                <div style="clear: both;"></div>
                <!--
                <div style="display:block;height:80%;">
                    <div style="display:inline-block;font-size:18px;text-align: center;width:40px;">
                        <span style="display:block;font-size:12px;">{{redValue}}</span>
                        <nz-slider [nzMin]="0" [nzMax]="255" [nzStep]="1" [(ngModel)]="redValue" nzVertical="true"
                            (ngModelChange)="colorChange($event, 'red')" nzTooltipVisible="default"
                            style="display:inline-block;height:64px;margin-bottom:10px;">
                        </nz-slider>
                        <span style="display:inline-block;font-size:12px;margin-bottom:5px;">Red</span>
                    </div>
                    <div style="display:inline-block;font-size:18px;text-align: center;width:40px;">
                        <span style="display:block;font-size:12px;">{{greenValue}}</span>
                        <nz-slider [nzMin]="0" [nzMax]="255" [nzStep]="1" [(ngModel)]="greenValue" nzVertical="true"
                            (ngModelChange)="colorChange($event, 'green')" nzTooltipVisible="default"
                            style="display:inline-block;height:64px;margin-bottom:10px;">
                        </nz-slider>
                        <span style="display:inline-block;font-size:12px;margin-bottom:5px;">Green</span>
                    </div>
                    <div style="display:inline-block;font-size:18px;text-align: center;width:40px;">
                        <span style="display:block;font-size:12px;">{{blueValue}}</span>
                        <nz-slider [nzMin]="0" [nzMax]="255" [nzStep]="1" [(ngModel)]="blueValue" nzVertical="true"
                            (ngModelChange)="colorChange($event, 'blue')" nzTooltipVisible="default"
                            style="display:inline-block;height:64px;margin-bottom:10px;">
                        </nz-slider>
                        <span style="display:inline-block;font-size:12px;margin-bottom:5px;">Blue</span>
                    </div>
                </div>
                -->
            </div>
            <div style="float:left;width:33%;height:100%;">
                <div style="display:block;height:20%;">
                    <span style="font-size:18px;">Size</span>
                </div>
                <div style="display:block;height:80%;">
                    <button
                        style="display:inline-block;cursor:pointer;padding:2px;border-radius:4px;border:1px solid #bbbbbb;margin-right:1px;"
                        (click)="smaller()" nz-tooltip nzTooltipTitle="Smaller">
                        <i class="far fa-fw fa-angle-down"
                            style="font-size:24px;display:inline-block;vertical-align: bottom;"></i>
                    </button>
                    <button
                        style="display:inline-block;cursor:pointer;padding:2px;border-radius:4px;border:1px solid #bbbbbb;margin-right:1px;"
                        (click)="bigger()" nz-tooltip nzTooltipTitle="Bigger">
                        <i class="far fa-fw fa-angle-up"
                            style="font-size:24px;display:inline-block;vertical-align: bottom;"></i>
                    </button>
                </div>
                <!--
                <i class="fad fa-fw fa-user-graduate"
                    style="font-size:18px;float:left;line-height:30px;vertical-align: middle;"></i>
                <nz-slider [nzMin]="0" [nzMax]="100" [nzStep]="5" [(ngModel)]="sliderValue" (ngModelChange)="sizeChange($event)"
                    nzTooltipVisible="never" style="display:inline-block;margin-top:-7px;width:90%;">
                </nz-slider>
                <i class="fad fa-fw fa-user-graduate" style="font-size:30px;float:right;vertical-align: middle;"></i>
                -->
            </div>
            <div style="float:left;width:33%;height:100%;">
                <div style="display:block;height:20%;">
                    <span style="font-size:18px;">Style</span>
                </div>
                <nz-radio-group [(ngModel)]="iconStyle" (ngModelChange)="iconStyleChanged($event)">
                    <label nz-radio-button nzValue="solid" nz-tooltip nzTooltipTitle="Solid">
                        <i class="fas fa-user" style="font-size:16px;"></i>
                    </label>
                    <label nz-radio-button nzValue="regular" nz-tooltip nzTooltipTitle="Regular">
                        <i class="far fa-user" style="font-size:16px;"></i>
                    </label>
                    <label nz-radio-button nzValue="light" nz-tooltip nzTooltipTitle="Light">
                        <i class="fal fa-user" style="font-size:16px;"></i>
                    </label>
                    <label nz-radio-button nzValue="duotone" nz-tooltip nzTooltipTitle="Two Tone">
                        <i class="fad fa-user" style="font-size:16px;"></i>
                    </label>
                </nz-radio-group>
                <!--
                <div style="display:block;height:80%;padding-top:40px;">
                    <div style="display:inline-block;cursor:pointer;padding:2px;border-radius:4px;border:1px solid #bbbbbb;margin-right:1px;"
                        (click)="toggleStyle('solid')" [ngClass]="{'showing': solid, 'not-showing': !solid}" nz-tooltip
                        nzTooltipTitle="Solid" (mouseenter)="styleLabel = 'Solid'" (mouseleave)="styleLabel = ''">
                        <i class="fas fa-fw fa-user"
                            style="font-size:24px;display:inline-block;vertical-align: bottom;"></i>
                    </div>
                    <div style="display:inline-block;cursor:pointer;padding:2px;border-radius:4px;border:1px solid #bbbbbb;margin-right:1px;"
                        (click)="toggleStyle('regular')" [ngClass]="{'showing': regular, 'not-showing': !regular}"
                        nz-tooltip nzTooltipTitle="Regular" (mouseenter)="styleLabel = 'Regular'"
                        (mouseleave)="styleLabel = ''">
                        <i class="far fa-fw fa-user"
                            style="font-size:24px;display:inline-block;vertical-align: bottom;"></i>
                    </div>
                    <div style="display:inline-block;cursor:pointer;padding:2px;border-radius:4px;border:1px solid #bbbbbb;margin-right:1px;"
                        (click)="toggleStyle('light')" [ngClass]="{'showing': light, 'not-showing': !light}" nz-tooltip
                        nzTooltipTitle="Light" (mouseenter)="styleLabel = 'Light'" (mouseleave)="styleLabel = ''">
                        <i class="fal fa-fw fa-user"
                            style="font-size:24px;display:inline-block;vertical-align: bottom;"></i>
                    </div>
                    <div style="display:inline-block;cursor:pointer;padding:2px;border-radius:4px;border:1px solid #bbbbbb;margin-right:1px;"
                        (click)="toggleStyle('duotone')" [ngClass]="{'showing': duotone, 'not-showing': !duotone}"
                        nz-tooltip nzTooltipTitle="Two Tone" (mouseenter)="styleLabel = 'Two Tone'"
                        (mouseleave)="styleLabel = ''">
                        <i class=" fad fa-fw fa-user"
                            style="font-size:24px;display:inline-block; ;vertical-align: bottom;"></i>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div style="clear: both;"></div>
        <div style="display:block;height:20px;margin-top:20px;">
            <span style=" font-size:14px;margin-left:10px;color:green;">{{iconName}}</span>
            <span style="float:right;font-size:14px;margin-left:10px;color:green;">{{matchingIcons.length}}
                matching icons &nbsp;&nbsp;&nbsp;</span>
        </div>
        <div style="display:block;" [ngStyle]="{'color': iconColor,'height.px':height - 270}">
            <div class="icon-container">
                <div *ngFor="let icon of matchingIcons$ | async; index as i" (mouseenter)="mouseEnter(i)"
                    (mouseleave)="mouseLeave(i)" (click)="selectIcon(i)" class="icon-box"
                    [ngClass]="{'selected-icon': selectedIconIndex === i}" [ngStyle]="{'padding.px': padding}">
                    <i [ngClass]="icon" class="icon" [ngStyle]="{'font-size.px': fontSize}"></i>
                </div>
            </div>
        </div>
    </div>
</div>