.icon-container {
	display: flex;
	flex-flow: row wrap;
	overflow-y: scroll;
	min-width: 100%;
	max-height: 100%;
	z-index: -1;
	margin-top:10px;
}

.icon {
    text-align: center;
    display: block;
}

.selected-icon {
	background-color: #f8ffef;
	border-color: #74d40e !important;
}

.icon-box {
	margin: 5px;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #e7e7e7;
    margin: 5px;
    position: relative;
}

.icon-box:hover {
	background-color: #f8ffef;
	border-color: #c3e999;
}

.color-picker {
	width: 100% !important;
}
.showing {
    border:2px solid #75c140 !important;
}
.not-showing {
    border:2px solid red !important;
}
.color-chip {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border:2px solid #bbbbbb;
}

.color-chip:hover {
	border:2px solid black;
}