<div style="width: 100%;height:100%;text-align: left;padding:20px;">
    <div *ngIf="assessment" style="width:100%;">
        <div style="width:20%;text-align: center;display:inline-block;">
            <label style="font-size:12px;color:#bbbbbb;">Passing
                Grade</label>
        </div>
        <div style="width:70%;text-align: left;display:inline-block;padding-left:10px;">
            <nz-input-number nzSize="small" nzId="passingGrade" class="foo" ngDefaultControl style="font-size:12px;"
                (ngModelChange)="assessmentChanged($event)" [(ngModel)]="assessment.passingGrade" [nzMin]="0"
                [nzMax]="100" [nzStep]="5">
            </nz-input-number>
            <span style="display:inline-block;font-size:12px;">&nbsp;&nbsp;%</span>
        </div>
    </div>

    <nz-modal [(nzVisible)]="questionEditorVisible" nzTitle="Question Editor" (nzOnCancel)="handleQuestionEditCancel()"
        (nzOnOk)="updateQuestion()" nzWidth="800">
        <div *ngIf="currentQuestion" style="background-color: white;">
            <div style="display:block;">
                <label style="display:inline-block;margin-right: 10px;font-size:18px;">Question</label>
                <input nz-input type="text" placeholder="Question Text" ngDefaultControl
                    [(ngModel)]="currentQuestion.question" style="display:inline-block;margin-bottom:10px;width:500px;">
            </div>
            <div style="display:block;">
                <label style="display:inline-block;margin-right: 10px;font-size:18px;">Choices</label>
                <div style="display:block;padding-left:50px;">
                    <div class="choice-container">
                        <label class="choice-label">{{alpha[0]}}</label>
                        <input nz-input type="text" placeholder="Choice" ngDefaultControl
                            [(ngModel)]="currentQuestion.choices[0]" class="choice-input">
                        <div style="clear: both;"></div>
                    </div>
                    <div class="choice-container">
                        <label class="choice-label">{{alpha[1]}}</label>
                        <input nz-input type="text" placeholder="Choice" ngDefaultControl
                            [(ngModel)]="currentQuestion.choices[1]" class="choice-input">
                        <div style="clear: both;"></div>
                    </div>
                    <div class="choice-container">
                        <label class="choice-label">{{alpha[2]}}</label>
                        <input nz-input type="text" placeholder="Choice" ngDefaultControl
                            [(ngModel)]="currentQuestion.choices[2]" class="choice-input">
                        <div style="clear: both;"></div>
                    </div>
                    <div class="choice-container">
                        <label class="choice-label">{{alpha[3]}}</label>
                        <input nz-input type="text" placeholder="Choice" ngDefaultControl
                            [(ngModel)]="currentQuestion.choices[3]" class="choice-input">
                        <div style="clear: both;"></div>
                    </div>
                    <div class="choice-container">
                        <label class="choice-label">{{alpha[4]}}</label>
                        <input nz-input type="text" placeholder="Choice" ngDefaultControl
                            [(ngModel)]="currentQuestion.choices[4]" class="choice-input">
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <div style="display:bun;margin-top: 10px;font-size:18px;">
                <label style="display:inline-block;margin-right: 10px;font-size:18px;">Correct
                    Choice</label>
                <nz-radio-group [(ngModel)]="currentCorrectChoice">
                    <label nz-radio [nzDisabled]="currentQuestion.choices[0] === undefined" nzValue="0">A</label>
                    <label nz-radio [nzDisabled]="currentQuestion.choices[1] === undefined" nzValue="1">B</label>
                    <label nz-radio [nzDisabled]="currentQuestion.choices[2] === undefined" nzValue="2">C</label>
                    <label nz-radio [nzDisabled]="currentQuestion.choices[3] === undefined" nzValue="3">D</label>
                    <label nz-radio [nzDisabled]="currentQuestion.choices[4] === undefined" nzValue="4">E</label>
                </nz-radio-group>
            </div>
        </div>
    </nz-modal>
    <button nz-button nzType="primary" nzSize="small" style="margin-bottom:10px;" (click)="addNewQuestion()">Add
        New Question</button>
    <nz-collapse *ngIf="assessment" nzAccordion="true">
        <nz-collapse-panel [nzHeader]="headerTemplate" [nzActive]="itemIndex === currentQuestionIndex"
            *ngFor="let item of assessment.items; index as itemIndex">
            <ng-template #headerTemplate>
                <div style="width:15%;display:inline-block;color:blue;">Question
                    {{ itemIndex + 1 }}
                </div>
                <div style="vertical-align:middle;display:inline-block;width:80%;overflow: hidden;white-space: nowrap;">
                    {{item.question}}
                </div>
            </ng-template>
            {{ item.question }}
            <div style="font-weight:300;margin-top:10px;padding-left:25px;">
                <div *ngFor="let choice of item.choices; index as choiceIndex" style="width:100%;">
                    <div *ngIf="choice !== ''">
                        <div style="font-weight:300;width:25px;height:1em;float:left;">
                            <i *ngIf="item.correctChoice === choiceIndex" nz-icon nzType="check" [nzTheme]="'outline'"
                                style="font-size:16px;vertical-align: baseline;color:#52c41a;"></i>

                        </div>
                        <div
                            style="display: inline-block;font-weight:300;width:30px;color:#bbbbbb;margin-bottom:5px;text-align: right;">
                            {{alpha[choiceIndex]}}&nbsp;)
                        </div>
                        <div style="display: inline-block;">
                            <span
                                style="font-weight:300;width:2%;color:#bbbbbb;margin-bottom:5px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {{ choice }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;">
                <i nz-icon nzType="edit" [nzTheme]="'twotone'" nz-tooltip nzTooltipTitle="Edit Question"
                    (click)="editQuestion(itemIndex)" style="cursor:pointer;font-size:16px;vertical-align: baseline;">
                </i>
                <i nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'" nz-tooltip
                    nzTooltipTitle="Delete Question" nz-popconfirm nzPopconfirmTitle="Delete this Question?"
                    [nzPopconfirmTrigger]="'click'" [nzPopconfirmPlacement]="'top'"
                    (nzOnConfirm)="confirmDeleteQuestion(itemIndex)"
                    style="cursor:pointer;font-size:16px;vertical-align: baseline;margin-left:20px;">
                </i>
            </div>
        </nz-collapse-panel>
    </nz-collapse>
    <div>
        <div *ngIf="production === 'true' || selectedTraining.status === 'locked' || mode === 'Preview'"
            style="position:relative;">
            <div *ngIf="currentAssessmentItemIndex === -1 && !assessmentComplete">
                <button nz-button nzType="primary" nzSize="small" (click)="beginAssessment()">Begin
                    Assessment</button>
            </div>
            <div *ngIf="assessmentComplete && selectedTraining.status === 'unlocked' && production === 'false'">
                <button nz-button nzType="primary" nzSize="small" (click)="resetAssessment()">Reset
                    Assessment</button>
            </div>
            <div *ngIf="currentAssessmentItemIndex > -1" style="margin-bottom:4px;">
                <div>
                    <div style="display: inline-block;">
                        <i nz-icon nzType="check-circle" theme="twotone" [nzTwotoneColor]="'#52c41a'"
                            style="font-size: 24px;vertical-align: baseline;"></i>
                        <span style="font-size:20px;margin-right:30px;">
                            &nbsp;{{ assessmentCorrectCnt }}</span>
                    </div>
                    <div style="display: inline-block;">
                        <i nz-icon nzType="close-circle" theme="twotone" [nzTwotoneColor]="'red'"
                            style="font-size: 24px;vertical-align: baseline;display:inline-block;"></i>
                        <span style="font-size:20px;margin-right:30px;">
                            &nbsp;{{ assessmentIncorrectCnt }}
                        </span>
                    </div>
                </div>
            </div>
            <div style="display:block;margin:20px ;">
                <div *ngIf="assessmentComplete && passedAssessment" style="margin:20px 0;">
                    <nz-alert nzType="success" nzMessage="Congratulations, you passed!" nzShowIcon>
                    </nz-alert>
                </div>
                <div *ngIf="assessmentComplete && !passedAssessment" style="margin:20px 0;">
                    <nz-alert nzType="error" nzMessage="Sorry, you did not pass!" nzShowIcon></nz-alert>
                    <button nz-button nzType="primary" nzSize="small" (click)="retake()"
                        style="display:block;margin-top:20px;">Retake</button>
                </div>
            </div>
            <div *ngIf="assessmentInProgress && !assessmentComplete">
                <div *ngFor="let item of selectedTraining.assessment.items; index as itemIndex"
                    style="position:absolute;top:40px;left:600px;width:100%;height:200px;background-color: white;"
                    [ngStyle]="{'z-index': 10000 - itemIndex}">
                    <div style="width:100%;position:relative;padding:0">
                        <div style="color:#bbbbbb;font-size:16px;font-weight:300;margin-right:20px;float:left;">
                            Question
                            {{ itemIndex + 1 }}
                        </div>
                        <div style="display: inline-block;font-size:16px;">
                            <div style="color:black;font-weight: 300;">
                                {{item.question}}
                            </div>
                        </div>
                        <div style="padding:10px 0 0 0;">
                            <nz-radio-group [(ngModel)]="assessmentResponseHash[itemIndex]" [nzDisabled]="showNext"
                                style="display:block;" (ngModelChange)="answeredQuestion(itemIndex)">
                                <div *ngFor="let choice of item.choices; index as choiceIndex"
                                    style="width:100%;padding-left:50px;position:relative;margin:10px 0;">
                                    <div *ngIf="choice !== ''">
                                        <i *ngIf="(assessmentResponseHash[itemIndex] !== null || assessmentResponseHash[itemIndex] !== undefined) && assessmentResponseHash[itemIndex] === choiceIndex && assessmentResponseHash[itemIndex] !== item.correctChoice"
                                            nz-icon nzType="close-circle" theme="twotone" [nzTwotoneColor]="'red'"
                                            style="position:absolute;top:0;left:20px;font-size: 20px;vertical-align: top;"></i>
                                        <i *ngIf="(assessmentResponseHash[itemIndex] !== null || assessmentResponseHash[itemIndex] !== undefined) && assessmentResponseHash[itemIndex] === choiceIndex && assessmentResponseHash[itemIndex] === item.correctChoice"
                                            nz-icon nzType="check-circle" theme="twotone" [nzTwotoneColor]="'#52c41a'"
                                            style="position:absolute;top:0;left:20px;font-size: 20px;vertical-align: top;"></i>
                                        <i *ngIf="showNext && item.correctChoice === choiceIndex" nz-icon
                                            nzType="check-circle" theme="twotone" [nzTwotoneColor]="'#52c41a'"
                                            style="position:absolute;top:0;left:20px;font-size: 20px;vertical-align: top;"></i>
                                        <label nz-radio [nzValue]="choiceIndex" style="display:inline-block;"></label>
                                        <span
                                            style="font-weight:300;color:#bbbbbb;">{{alpha[choiceIndex]}}&nbsp;)&nbsp;&nbsp;</span>
                                        <span style="font-size:14px;color:black;font-weight: 300;">{{choice}}</span>
                                    </div>
                                </div>
                            </nz-radio-group>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showNext" style="position:absolute;top:330px;left:0;">
                <button nz-button nzType="primary" nzSize="small" (click)="nextQuestion()">Next
                    Question</button>
            </div>
        </div>
    </div>
</div>