.choice-container {
	display: block;
	width: 70%;
}

.choice-label {
	float: left;
	margin-right: 10px;
	font-size: 18px;
	margin-top: 6px;
}

.choice-input {
	float: right;
	margin-bottom: 10px;
	width: 94%;
}
