.training-viewer {
    width:100%;
	height:100%;
    border:1px solid #dddddd;
}

.training-viewer-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.config-page-row {
    display:block;
    margin-top:10px;
}

.main-content-page-row {
    display:block;
	margin-top:20px;
	width:100%;	
}

.header-left {
	display: inline-block;
	width: 60px;
	text-align: center;
	margin: 0 0 0 10px;
}

.main-content-item {
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.main-content-item:hover {
	background-color: #efefef;
}

.header-right {
	display: inline-block;
	margin-left: 30px;
}

.header-middle {
	display: inline-block;
	font-size: 16px;
	margin-left: 20px;
	width: fit-content;
	max-width: 300px;
}
.right-top {
	height: 35px;
	margin-bottom: 5px;
}

.right-bottom {
	height: 35px;
	margin-bottom: 5px;
}

.main-content-container-fullscreen {
    height:90%;
}

.main-content-container {
	height:90%;
	overflow: scroll;
}

.training-header {
	width: 100%;
	display: block;
	background-color: #fcfcfc;
	border-bottom: 1px solid #dddddd;
    padding:10px;
	position: relative;
}

.page-container {
	height: fit-content;
    width: fit-content;
    display: inline-block;
}

.page {
    display: inline-block;
    background-color: white;
    width: 850px;
    min-height: 1100px;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
	padding:50px 40px;
	position: relative;
}
.page-url {
    display: inline-block;
    background-color: white;
    width: 1000px;
    min-height: 1100px;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
	padding:50px 40px;
	position: relative;
}
.toc {
	height: fit-content;
	position: absolute;
	top: 20px;
	margin-left: 0;
    width: 250px;
    padding-bottom: 20px;
	border: 1px solid #dddddd;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.toc-opener {
	height: 50px;
	position: absolute;
    top: 20px;
	margin-left: 0;
    font-size: 30px;
	width: 50px;
	border: 1px solid #dddddd;
	background-color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.toc-title {
    padding: 10px;
    font-size:18px;
    font-weight:300;
    border-bottom:1px solid #bbbbbb;
    margin-bottom:10px;
}

.main-content {
	width: fit-content;
	display: block;
	position: relative;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px 20px 20px 0;
	min-width: 100%;
	min-height: 1100px;
}

.toc-label {
	font-size: 22px;
	font-weight: 300;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}

.active-toc {
	color: blue;
	background-color: #eaf7fe;
}

.toc-entry {
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 1px;
    width: 95%;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	vertical-align: middle;
}
.toc-entry:hover {
	background-color: #eaf7fe;
}

.toc-main-content-entry {
	padding: 5px 10px 5px 30px;
	cursor: pointer;
	margin-top: 1px;
    width: 95%;
    border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	vertical-align: middle;
	overflow: hidden;
}
.toc-main-content-entry:hover {
		background-color: #eaf7fe;
}

.small ::ng-deep .ant-rate-star {
    font-size: 24px;
}

.selected {
	opacity: 1.0;
}

.disabled {
	opacity:.3;
	cursor:not-allowed !important;
}

.not-selected {
	opacity: .2;
}

.page-action {
	margin-left:10px;
	display:inline-block;
	cursor:pointer;
	font-size:18px;
	vertical-align: baseline;
	line-height:18px;
}

.header-icon {
	display:inline-block;
	cursor:pointer;
	font-size:16px;
	vertical-align: baseline;
	margin-left:20px;
}

.header-icon-container {
	padding:5px;
}

.header-icon-selected {
	border: 1px solid #bbbbbb;
	background-color: #f5f5f5;
}

.selected-status {
	background-color: #eaf7fe;
}

.activeStep {
	border: 2px solid #d64594;
	background-color: #fcf1f6 !important;
}