.weekend {
    background-color: #bbbbbb;
    color: white !important;
}

.month {
    display:block;
    font-size:20px;
    color:blue;
    position:absolute;
    top:15%;
    left:5%;
    opacity:.3;
}

.day-of-month {
    display:block;
    font-size:28px;
    opacity:.2;
}

.month-and-day {
    width:3.57%;
    height:43px;
    border:1px solid black;
    display:inline-block;
    border-left-width: 0;
    position:relative;
    color: blue;
    cursor: pointer;
    opacity:.2;
}
.day-only {
    width:3.57%;
    height:43px;
    border:1px solid black;
    display:inline-block;
    border-left-width: 0;
    position:relative;
    line-height: 45px;
    font-size: 32px;
    cursor: pointer;
    opacity:.2;
}

.calendar-container {
    text-align: center;
    width:100%;
    height:100%;
    border-left:1px solid #bbbbbb;
}

.trainings-due {
    position:absolute;
    top:-4px;
    left:2px;
}

.notifications-being-sent {
    position:absolute;
    top:-4px;
    right:-6px;
}

.footer-info {
    width: 100%;
    height: 20px;
}

.day-info {
    display: inline-block;
}

.day-cell {

}

.day-cell:hover {
    opacity: 1.0;
    border-left: 1px solid black;
}