<div class="calendar-container">
    <div *ngFor="let day of days$ | async; let i = index;" (mouseenter)="currentDay = day" (mouseleave)="currentDay = null" class="day-cell"
        [ngClass]="{'weekend': day.dayOfWeek === 0 || day.dayOfWeek === 6, 'month-and-day': day.monthLabel !== '', 'day-only': day.monthLabel === '' }">
        <div *ngIf="day.monthLabel !== ''">
            <div style="font-size:20px;line-height: 18px;">
                {{day.monthLabel}}
            </div>
            <div style="font-size:20px;line-height: 18px;">
                {{day.dayOfMonth}}
            </div>
            <!--
            <span style="display: block;font-size: 20px;color:blue;opacity: .3;">{{day.monthLabel}}</span>
            <span style="display: block;font-size: 20px;color:blue;opacity: .3;">{{day.dayOfMonth}}</span>
            -->
        </div>
        <div *ngIf="day.monthLabel === ''" style="">
            {{day.dayOfMonth}}
        </div>
        <nz-badge *ngIf="day.trainingsDue.length > 0" [nzColor]="'purple'" class="trainings-due"></nz-badge>
        <nz-badge *ngIf="day.notificationsToSend.length > 0" [nzColor]="'gold'" class="notifications-being-sent">
        </nz-badge>
        <!--
        <nz-badge [nzColor]="'lime'" style="position:absolute;bottom:-4px;left:2px;"></nz-badge>
        <nz-badge [nzColor]="'yellow'" style="position:absolute;bottom:-4px;right:-6px;"></nz-badge>
        -->
        <ng-template #titleTemplate>
            Events
            <span *ngIf="day.trainingsDue.length > 0 || day.notificationsToSend.length > 0"
                style="color:blue;cursor: pointer;float:right;" (click)="showDetails(day)">details</span>
        </ng-template>
        <ng-template #contentTemplate>
            <div style="width:180px;">
                <div style="display:block;">
                    <nz-badge [nzColor]="'purple'" [nzText]="day.trainingsDue.length"></nz-badge>&nbsp;&nbsp;Trainings
                    Due
                </div>
                <div style="display:block;">
                    <nz-badge [nzColor]="'gold'" [nzText]="day.notificationsToSend.length">
                    </nz-badge>&nbsp;&nbsp;Notifications To Send
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div class="footer-info">
    <div *ngIf="currentDay" class="day-info">
        {{currentDay.mon}}
        <div style="display:inline-block;margin-right:20px;">
            <nz-badge [nzColor]="'purple'" [nzText]="currentDay.trainingsDue.length"></nz-badge>&nbsp;&nbsp;Trainings
            Due
        </div>
        <div style="display:inline-block;">
            <nz-badge [nzColor]="'gold'" [nzText]="currentDay.notificationsToSend.length">
            </nz-badge>&nbsp;&nbsp;Notifications To Send
        </div>
    </div>
    <div class="month-info">
    </div>
</div>