<div #container class="calendar-container" [ngStyle]="{'height.px': calendarHeight}">
    <div *ngFor="let month of year; index as monthIndex">
        <div *ngIf="showMonth[month.name] === 'true'">
            <div class="month">
                {{month.name}}
            </div>
            <div *ngFor="let day of month.days; index as dayIndex;" class="day-cell"
                [ngClass]="{'today': currentMonth === monthIndex && currentDayOfMonth === dayIndex + 1}">
                <div style="position: absolute;top:0;left:1px;font-size: 8px;color: #d6d6d6;;">
                    {{ dayIndex + 1}}
                </div>

                <!--
            <div *ngIf="day.monthLabel !== ''" style="font-size:10px;position:absolute;top:0;left:0;color:#dddddd;">

                {{day.monthLabel}}&nbsp;&nbsp;{{day.dayOfMonth}}

            </div>
            <div *ngIf="day.monthLabel === ''" style="font-size:10px;position: absolute;top:0;left:0;color:#dddddd;">
                {{day.dayOfMonth}}
            </div>
        -->
                <i *ngIf="day.trainingsDue.length > 0" [ngClass]="trainingIdHash[day.trainingsDue[0]].iconClass"
                    style="font-size:16px;position: absolute;bottom:4px;left:5px;"
                    [ngStyle]="{'color': trainingIdHash[day.trainingsDue[0]].iconColor}">
                </i>

            </div>
        </div>
    </div>
</div>