.view-title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 16px;
}
.list-item {}

.list-item:hover {
  background-color: #f1f5fe;
}

.selected-row {
  background-color: #f1f5fe;
  font-weight: 400;
  border-right: 3px solid blue;
  color:blue;
}
.regular-row {
}

.ant-table-body {
  border: 0 !important;
}
.myTables th {
  margin: 0 !important;
  padding: 10px !important;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: #f1f5fe;
  font-weight: 400;
}

.disabled {
  cursor: not-allowed;
  opacity: .7;
}

.active-item {
  background-color: #f7f1fe !important;
  border-color: #6939c9  !important;
  color: blue;
}

.training-cell-container {
  display:block;
  border-top:1px solid #efefef;
  padding-top:10px;
  margin-top:10px;
}
.training-list-container {
  display:flex;
  flex-flow: column wrap;
  border-top:1px solid #efefef;
  padding-top:10px;
  margin-top:10px;
  max-height:120px;
}

.cell-item-lg {
  text-align: center;
  display:inline-block;
  cursor: pointer;
  padding:20px 5px;
  width:110px; 
  height:100px;
  margin-right:5px;
  border-radius: 4px;
  background-color: white;
  border:1px solid #efefef;
}

.cell-item-lg:hover {
  border: 1px solid #6939c9;
}
.cell-item-sm {
  text-align: center;
  display:inline-block;
  cursor: pointer;
  padding:20px 5px;
  width:60px;
  height: 50px;
  margin-right:5px;
  border-radius: 4px;
  background-color: white;
  border:1px solid #efefef;
}

.cell-item-sm:hover {
  border: 1px solid #6939c9;
}
.list-item {
  padding:4px;
  cursor: pointer;
  border: 1px solid transparent;
}

.list-item:hover {
  border: 1px solid #6939c9;
}

.item-sm {
  font-size: 16px;
}
.item-lg {
  font-size: 22px;
}

.label-lg {
  display: block;
  font-size:10px;
  overflow: hidden;
  width: 100px;
  height:30px;
  margin-top:10px;
}
.label-sm {
  display: block;
  font-size:10px;
  overflow: hidden;
  width: 50px;
  height:15px;
  margin-top:5px;
}
