.ant-collapse-content {
  padding: 0 !important;
}

.view-container {
  width:100%;
  padding:10px;
}

.task-list-container {
  display: inline-block;
  float: left;
  width: 20%;
}

.task-header {
  font-size:14px;
}

.current-version {
  background-color: #eaf7fe;
  color: blue;
  font-weight: 500;
}

.step-container {
  font-size:14px;
  width:15%;
  float: left;
  width:100%;
}
input.ng-valid {
  border-color: lightgreen;
  background: rgba(144, 238, 144, .2);
}

input.ng-invalid {
  border-color: red;
  background: rgba(255, 0, 0, .2);
}
input.ng-pristine {
  border-color: #aaaaaa;
  background-color: white;
}
input.ng-pristine:hover {
  border-color: #aaaaaa;
  background-color: white;
}

.step {
  border-bottom: 1px solid #bbbbbb;
  padding:5px;
  display: block;
  margin-top:2px;
  border-right:2px solid white;
}
.step-content {
  color:#999999;
  font-size:14px;
  text-align: center;
  display: block;
}

.step-label {
  font-size:14px;
}

.current-step {
  color: blue;
}
.list-item {}

.list-item:hover {
  background-color: #f1f5fe;
}

.selected-row {
  background-color: #eaf7fe;
  font-weight: 400;
  color: blue;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1px 4px;
}

.actions {
  font-size: 18px;
  margin-left:20px;
  cursor: pointer;
}

td {
  padding:4px !important;
  font-size: 12px;
}

:host ::ng-deep .ant-tree {
  overflow: hidden;
  margin: 0 -24px;
  padding: 0 24px;
}

:host ::ng-deep .ant-tree li {
  padding: 4px 0 0 0;
}

.custom-node {
  cursor: pointer;
  line-height: 24px;
  margin-left: 4px;
  display: inline-block;
}

.active {
  background: #1890ff;
  color: #fff;
}
.ant-form label {
  font-size: 12px !important;
}
.file-name,
.folder-name {
  margin-left: 4px;
}

.file-desc,
.folder-desc {
  padding: 0 8px;
  display: inline-block;
  background: #87ceff;
  color: #ffffff;
  position: relative;
  left: 12px;
}

.explorer-toolbar {
  padding: 5px;
  background-color: #f4f4f4;
  display: block;
  width: 100%;

}
.explorer-header {
  background-color: #3b5bc0;
  color: white;
  width: 100%;
  margin-top: 64px;
}

.toolbar-button {
  display: inline-block;
  margin-right: 2px;
}
