<div *ngIf="selectedFile$ | async as file" style="display:block;width:100%; position:relative;">
  <nz-collapse *ngIf="readOnly !== 'true'" [nzBordered]="false" nzAccordion>
    <nz-collapse-panel [nzHeader]="headerTemplate" [nzActive]="headerOpen" nzShowArrow="false"
      (nzActiveChange)="headerActiveChange()">
      <form nz-form [formGroup]="fileForm" (ngSubmit)="submitForm($event, fileForm.value)">
        <div style="width:100%;margin-bottom:2px;">
          <button class="toolbar-button" nzType="default" type="submit" nz-button nzSize="small"
            [ngStyle]="{'font-size.px': fontSize}" [disabled]="!fileForm.dirty || !fileForm.valid">
            <i class="far fa-save"></i> Save
          </button>
          <button style="font-size:10px;" nz-button nzType="default" nzSize="small"
            [disabled]="!fileForm.dirty || !fileForm.valid" (click)="cancel()">Cancel
          </button>
          <button class="toolbar-button" nzType="default" nz-button nzSize="small" (click)="uploadNewVersion()"
            [ngStyle]="{'font-size.px': fontSize}">
            <i class="far fa-file"></i> Upload New Version
          </button>
          <button class="toolbar-button" nz-button nzType="default" style="color:red;" nzSize="small"
            [ngStyle]="{'font-size.px': fontSize}" nz-popconfirm nzPopconfirmTitle="Delete this File?"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteFileConfirm()" (nzOnCancel)="deleteFileCancel()">
            <i class="far fa-trash-alt"></i> Delete File
          </button>
        </div>
        <div>
          <nz-form-item style="margin-bottom: 0 !important;">
            <!--
                <nz-form-label nzSpan="6" style="font-size:10px !important;">Name</nz-form-label>
                -->
            <nz-form-control nzSpan="12">
              <input nz-input type="text" style="font-size:12px !important;border:1px solid #eef2f8;"
                formControlName="name" placeholder="File Name" nz-tooltip nzPlacement="right"
                [nzTitle]="'Update File Name'">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom: 0 !important;">
            <!--
                <nz-form-label style="font-size:12px;" [nzSpan]="6  ">Description</nz-form-label>
                -->
            <nz-form-control [nzSpan]="12">
              <textarea nz-input placeholder="Description" formControlName="description" style="font-size:12px;"
                nzAutosize nz-tooltip nzPlacement="right" [nzTitle]="'Update File Description'"></textarea>
              <!--
                                <input style="font-size:12px;" type="text" formControlName="description" nz-input
                  placeholder="Description" nz-tooltip nzPlacement="right" [nzTitle]="'Update File Description'">
                  -->
            </nz-form-control>
          </nz-form-item>

          <!--
                <div style="width:20%;display: inline-block;color: black;">
                  <span style="float:right;font-size:10px;font-weight: 600;">Versions :</span>
                </div>
                -->
          <div style="display:block;width:100%;margin-top:2px;margin-bottom:5px;">
            <nz-table nzSize="small" nzBordered="false" nzShowPagination="false" [nzData]="file.versions"
              style="width:100%;background-color: #fafafa;"
              [ngStyle]="{'font-size.px': fontSize, 'line-height.em': lineHeight}">
              <thead>
                <tr [ngStyle]="{'font-size.px': fontSize, 'line-height.em': lineHeight}">
                  <th>Version</th>
                  <th>Comments</th>
                  <th>Date Uploaded</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let version of file.versions; let i = index;"
                  [ngClass]="{'current-version': currentVersionIndex === i}"
                  [ngStyle]="{'font-size.px': fontSize, 'line-height.em': lineHeight}" (click)="viewVersion(i)"
                  style="cursor: pointer;">
                  <td [ngStyle]="{'font-size.px': fontSize, 'line-height.em': lineHeight}">{{ version.version }}</td>
                  <td [ngStyle]="{'font-size.px': fontSize, 'line-height.em': lineHeight}">{{ version.changeLog }}
                  </td>
                  <td [ngStyle]="{'font-size.px': fontSize, 'line-height.em': lineHeight}">
                    {{ version.dateUploaded | date:'medium'}}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </form>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #headerTemplate>
    <div style="width:100%;text-align: center;">
      {{file.name}}
      <i *ngIf="!headerOpen" style="font-size: 12px;vertical-align: middle;margin-left:15px;" nz-icon
        nzType="right"></i>
      <i *ngIf="headerOpen" style="font-size: 12px;vertical-align: middle;margin-left:15px;" nz-icon nzType="down"></i>
    </div>
  </ng-template>
  <ng-container *ngIf="selectedFile$ | async as file">{{ updateSelectedFile(file)}}</ng-container>
  <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="selectedFile.iconType === 'video'" [ngStyle]="{'height.px': height}">
    <!--
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
    -->

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
      <source [src]="video$ | async" type="video/mp4">
    </video>
  </vg-player>
  <div #docViewer style="width:100%;display:block;" [ngStyle]="{'height.px': height}">
      <iframe [src]="document$ | async" allowfullscreen style="width:100%;height:100%;"></iframe>
  </div>

  <nz-modal [(nzVisible)]="isNewVersionModalVisible" [nzTitle]="file.name" nzWidth="60%" nzOkDisabled="false"
    nzCancelDisabled="false" (nzOnCancel)="dismissNewVersionModal()" (nzOnOk)="handleNewVersionContinue()">
    <div style="display: inline-block;width:20%;padding-bottom:30px;">
      <!--
      <mtd-theme-image height="100" popover="false"></mtd-theme-image>
      -->
    </div>
    <div style="display:inline-block;width:80%;">
      <h3 nz-title>
        What actions should be taken as a result of the changes you have made?
      </h3>
    </div>
    <div style="clear: both;"></div>
    <div style="display: block;">
      <nz-radio-group [(ngModel)]="changeLevel">
        <label nz-radio [ngStyle]="{display: 'block', height: '30px',lineHeight: '30px'}" nzValue="major">Reset training
          status for all responsible users. </label>
        <label nz-radio [ngStyle]="{display: 'block', height: '30px',lineHeight: '30px'}" nzValue="middle">Notify all
          responsible users.</label>
        <label nz-radio [ngStyle]="{display: 'block', height: '30px',lineHeight: '30px'}" nzValue="minor">No action
          needed.</label>
      </nz-radio-group>
      <p *ngIf="error1" style="color:red;">Please select one of the 3 options.</p>
      <p>
        Please describe the changes you have made.
      </p>
      <textarea rows="4" nz-input [(ngModel)]="newVersion.changeLog"></textarea>
      <p *ngIf="error2" style="color:red;">Please enter a description of the changes made.</p>

    </div>
  </nz-modal>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="viewTitle" nzWidth="90%" nzOkDisabled="true" nzCancelDisabled="true"
    (nzOnCancel)="dismissModal()" (nzOnOk)="dismissModal()">
    <div #docViewer *ngIf="(docUrl$ | async) !== null" style="padding:10px;width:100%;height: 900px;display:block;">
      <iframe [src]="docUrl$ | async" allowfullscreen style="width:100%;height:100%;"></iframe>
    </div>
  </nz-modal>
</div>