<div>
    <i nz-tooltip nzTooltipTitle="Add New File" class="action" nz-icon twoToneColor="#619ef3" nzType="file-add"
        theme="twotone" (click)="openPicker($event)"></i>
    <div *ngIf="view === 'cardView'" style="border-top:1px solid #efefef;padding-top:10px;margin-top:10px;">
        <div class="filex" *ngFor="let item of files$ | async; index as i"
            [ngClass]="{'active-file': (selectedFileIndex$ | async) === i}" (click)="selectFile($event, i)">
            <div class="font-size-30">
                <i class="font-size-24" [twoToneColor]="item.iconColor" nz-icon [nzType]="item.iconClass"
                    theme="twotone"></i>
                <span class="m-l-5 font-size-12 text-muted">{{item.size}}</span>
            </div>
            <div>
                <span class="mb-0 font-size-10" style="width:300px;overflow:scroll;">{{item.name}}</span>
            </div>
        </div>
        <div *ngIf="files.length === 0" style="text-align: center;">
            <i style="font-size:50px;opacity:.3;" nz-icon nzType="frown" theme="twotone" twoToneColor="#619ef3"></i>
            <span style="font-size:26px;font-weight: 300;display:block;opacity:.4;">No Data</span>
        </div>
    </div>
    <!--
        <ul *ngIf="view === 'listView'"
            style="border-top:1px solid #efefef;padding-top:10px;margin-top:10px;list-style-type:none;">
            <li *ngIf="mode === 'full'">
                <div style="display:inline-block;width:5%;padding-left:5px;font-size:12px;"></div>
                <div style="display:inline-block;width:30%;font-size:12px;font-weight:600;">Name</div>
                <div style="display:inline-block;width:10%;font-size:12px;font-weight:600;">Version</div>
                <div style="display:inline-block;width:20%;font-size:12px;font-weight:600;">Date Uploaded</div>
                <div style="display:inline-block;width:20%;font-size:12px;font-weight:600;">Owner</div>
                <div style="display:inline-block;width:10%;font-size:12px;font-weight:600;">Size</div>
            </li>
            <div *ngFor="let item of files$ | async; index as i" class="fileList">
                <li (click)="selectFile($event, i)" [ngClass]="{'active-file': (selectedFileIndex$ | async) === i}"
                    style="padding:5px 0;">
                    <div [ngClass]="{'listItem1-compact': mode === 'brief', 'listItem1-full': mode === 'full'}">
                        <i *ngIf="item.iconSource === 'ngZorro'" class="font-size-24" [twoToneColor]="item.iconColor"
                            nz-icon [nzType]="item.iconClass" theme="twotone"></i>
                        <i *ngIf="item.iconSource === 'fontawesome'" class="font-size-24"
                            [ngStyle]="{'color': item.iconColor}" [ngClass]="item.iconClass"></i>
                    </div>
                    <div [ngClass]="{'listItem2-compact': mode === 'brief', 'listItem2-full': mode === 'full'}">
                        {{ item.name }} &nbsp;&nbsp;
                    </div>
                    <div *ngIf="mode === 'full'" style="width:10%;display:inline-block;font-size:12px;">
                        {{ item.versions[0].version }} &nbsp;&nbsp;
                    </div>
                    <div *ngIf="mode === 'full'" style="width:20%;display:inline-block;font-size:12px;">
                        {{ item.versions[0].dateUploaded | date:'medium' }} &nbsp;&nbsp;
                    </div>
                    <div *ngIf="mode === 'full'" style="width:20%;display:inline-block;font-size:12px;">
                        {{ item.versions[0].owner }} &nbsp;&nbsp;
                    </div>

                    <div [ngClass]="{'listItem3-compact': mode === 'brief', 'listItem3-full': mode === 'full'}">
                        {{item.size}}
                    </div>
                    <div style="clear: both;"></div>
                </li>
            </div>
        </ul>
        -->
</div>
<div>
    <mtd-files [streamId]="streamId"></mtd-files>
</div>
