.my-team {
    width: 100%;
    height: 100%;
    padding:20px;
}

.my-team-header {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 20px;
}

.my-team-rightside {
    width: 70%;
    height:100%;    
    float:right;
}

.team-container {
    width: 22%;
    padding-right: 10px;
    height:100%;
    border-right: 1px solid #e0e0e0;
    display:inline-block;
}

.mm-header {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
    height: 44px;
}

.direct-report-container {
    margin-left: 20px;
}

.direct-report-cell {
    margin-bottom: 10px;
    width: fit-content;
}

.direct-report {
    position: relative;
}

.supervisor {
    display: block;
}

.user-button {
    background-color: #fafafa;
    border:1px solid #bbbbbb;
    border-radius: 4px;
    padding:5px;
    width: fit-content;
}

.user-button:hover {
    border-color: #3b5ae3;
}

.all-training-list-entry {
    padding:5px;
    margin-top:2px;
}
.all-training-list-entry:hover {
    background-color: #e0eafd;
}

.user-selected {
    background-color: #e0eafd;
    color: #3b5ae3;
    border-color: #3b5ae3;    
}

.legend {
    font-size: 10px;
    margin-bottom: 10px;    
}

.tab-titles {
    width:fit-content;
    height:40px;
    padding:10px 20px;
    margin-right: 2px;
    display: inline-block;
}

.tab-titles:hover {
    color: blue;
    background-color: #f4f4f4;
}

.selected-training {
    background-color: #e0eafd;
    color:blue;
}

.selected-tab {
    border-bottom:2px solid blue;
    color: blue;
    background-color: #f4f4f4;
}