.my-team {
    width: 100%;
    height: 100%;
}

.my-team-header {
    margin-bottom: 20px;
}

.my-team-rightside {
    width: 74%;
    height:100%;    
    float:right;
}

.team-container {
    width: 25%;
    height:100%;
    border-right: 1px solid #e0e0e0;
    display:inline-block;
    overflow-x: scroll;
    padding-right:10px;
}

.mm-header {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
    height: 44px;
}

.direct-report-container {
    width:100%;
    text-align: center;
}

.direct-report-cell {
    width: 100%;
    padding:5px;
}

.direct-report {
    position: relative;
}

.supervisor {
    display: block;
}

.user-button {
    padding: 10px;
    overflow:auto;
    white-space: nowrap;
    border-top:1px solid #dddddd;
}
.user-button:hover {
    background-color: #f1f1f1   ;
}

.selected-training {
    background-color: #dddddd;
}


.all-training-list-entry {
    padding:5px;
    margin-top:2px;
}
.all-training-list-entry:hover {
    background-color: #e0eafd;
}

.user-selected {
    background-color: #e0eafd;
}

.legend {
    font-size: 10px;
    margin-bottom: 10px;    
}

.tab-titles {
    width:fit-content;
    height:40px;
    padding:10px 20px;
    margin-right: 2px;
    display: inline-block;
}

.tab-titles:hover {
    color: blue;
    background-color: #f4f4f4;
}


.selected-tab {
    border-bottom:2px solid blue;
    color: blue;
    background-color: #f4f4f4;
}

#launch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 96px 0 64px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 0 64px;
  height: 44px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 15px;
  font-weight: 500;
  outline: 0;
  background-color: #4a90e2;
}

#launch:focus,
#launch:hover {
  background-color: #2171ce;
}

#launch:active {
  background-color: #1d62b4;
}

#raw_output {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 30px;
  margin: 32px 0;
  border: 1px solid #c1c6d1;
  border-radius: 4px;
  font-family: "Courier New", monospace;
  background-color: #3c4151;
  color: #fff;
  height: 200px;
}

.licenseAsk {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.licenseAsk p {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: normal;
}

#launch.disabled {
  background-color: gray;
  cursor: not-allowed;
}
.showing {
    border:2px solid #75c140 !important;
}
.not-showing {
    border:2px solid red !important;
} 