.my-team {
    display: inline-block;
    width: 22%;
    height: 100%;
    border-right: 1px solid #e0e0e0;
}

.my-team-rightside {
    display: inline-block;
    width: 78%;
    height:100%;    
    float:right;
}

.team-container {
    padding-right: 10px;
    height:fit-content;
}

.my-team-header {
    display: block;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
    height: 44px;
}

.direct-report-container {
    margin-left: 20px;
    border-left: 1px solid #bbbbbb;
}

.direct-report-cell {
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 10px;
    width: fit-content;
}

.direct-report {
    position: relative;
    top: 10px;
    left: 10px;
}

.supervisor {
    display: block;
}

.user-button {
    background-color: #fafafa;
    border:1px solid #bbbbbb;
    border-radius: 4px;
    padding:5px;
    width: fit-content;
}

.user-button:hover {
    border-color: #3b5ae3;
}

.user-selected {
    background-color: #e0eafd;
    color: #3b5ae3;
    border-color: #3b5ae3;    
}

.legend {
    font-size: 12px;
    margin-bottom: 10px;    
}