<div style="height:100%;">
    <div class="my-team" style="height:100%;">
        <div class="my-team-header">
        </div>
        <div *ngIf="myTeam.length === 0" style="text-align:center;margin-top:20px;">
            <span style="font-size:20px;font-weight:200;margin-top: 20px;"> You haven't added any team
                members yet!</span><br>
            <button nz-button nzType="primary" nzSize="small" (click)="addUser()" style="margin-top: 20px;">Add a team
                member</button>
        </div>
        <div *ngIf="myTeam && myTeam.length > 0" style="height:95%;">
            <div class="team-container">
                <div class="direct-report-container">
                    <div>
                        <button nz-button nzType="primary" (click)="addUser()" nzSize="small" style="margin: 20px 0;">
                            Add a team member
                        </button>
                    </div>
                    <div *ngIf="authenticatedUser$ | async as user" class="user-button" (click)="selectUser(user._id)"
                        [ngClass]="{'user-selected': userIdSelected === user._id }">
                        <i [ngClass]="userTypeIconHash[user.userType]"
                            [ngStyle]="{'color': trainingStatusColorHash[user.trainingStatus]}" nz-tooltip
                            [nzTooltipTitle]=""></i>&nbsp;
                        <span style="display:inline-block;">{{ user.firstName }} {{ user.lastName }} </span>&nbsp;
                    </div>
                    <div style="display:block;margin-left:10px;width:fit-content;border-left:1px solid #bbbbbb;">
                        <div *ngFor="let user of myTeam" class="direct-report-cell">
                            <div *ngIf="user._id !== (authenticatedUser$ | async)?._id" class="user-button" (click)="selectUser(user._id)" style="position:relative;top:10px;left:10px;"
                                [ngClass]="{'user-selected': userIdSelected === user._id}">
                                <i [ngClass]="userTypeIconHash[user.userType]"
                                    [ngStyle]="{'color': trainingStatusColorHash[user.trainingStatus]}"></i>&nbsp;
                                <span style="display:inline-block">{{ user.firstName }} {{ user.lastName }}
                                </span>&nbsp;
                                <i *ngIf="user.adminUp === true" nz-icon nzType="crown" [nzTheme]="'twotone'"
                                    [nzTwotoneColor]="'#6939c9'"
                                    style="display:inline-block;font-size:18px;vertical-align:baseline;" nz-tooltip
                                    nzTooltipTitle="Admin User"></i>
                                &nbsp;
                                <i *ngIf="user.userStatus === 'pending'" nz-icon nzType="warning" [nzTheme]="'twotone'"
                                    [nzTwotoneColor]="'#efb753'"
                                    style="display:inline-block;font-size:18px;vertical-align:baseline;" nz-tooltip
                                    nzTooltipTitle="User Account Pending"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-team-rightside" style="width:77%;">
                <app-teammember></app-teammember>
            </div>
        </div>
        <nz-modal [(nzVisible)]="showNewUserModal" nzTitle="Team Member Registration" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleAddUser()">
            <div style="padding:20px;color:black;">
                <p style="font-size:16px;">
                    An email will be sent to the team member being registered in order for them to complete the
                    registration
                    process.
                </p>

            </div>
            <div style="z-index: 1000;background-color: white;">
                <input nz-input type="text" placeholder="First Name" ngDefaultControl
                    [(ngModel)]="newTeamMember.firstName" style="margin-bottom:10px;">
                <input nz-input type="text" placeholder="Last Name" ngDefaultControl
                    [(ngModel)]="newTeamMember.lastName" style="margin-bottom:10px;">
                <input nz-input type="text" placeholder="Email" ngDefaultControl [(ngModel)]="newTeamMember.email"
                    style="margin-bottom:20px;">
                <input nz-input type="text" placeholder="Job Title" ngDefaultControl
                    [(ngModel)]="newTeamMember.jobTitle" style="display:inline-block;margin-bottom:20px;"
                    (input)="onInput($event.target?.value)" [nzAutocomplete]="auto">
                <nz-autocomplete nzBackfill #auto>
                    <nz-auto-option *ngFor="let option of options" [nzValue]="option">
                        {{ option }}
                    </nz-auto-option>
                </nz-autocomplete>
                <span style="margin-right:20px;float:left;">User Type</span>
                <nz-radio-group ngDefaultControl [(ngModel)]="newTeamMember.userType" style="margin-bottom:20px;">
                    <label nz-radio nzValue="individualContributor" (click)="newSupervisorSelected(false)"
                        style="display:block;font-size:28px;">
                        <i class="fad fa-user" style="vertical-align: bottom;"></i>
                        <span style="margin-left:10px;font-size:14px;">Individual Contributor</span>
                    </label>
                    <label nz-radio nzValue="supervisor" (click)="newSupervisorSelected(true)"
                        style="display:block;font-size:28px;">
                        <i class="fad fa-user-tie" style="vertical-align: bottom;"></i>
                        <span style="margin-left:10px;font-size:14px;">Supervisor</span>

                    </label>
                    <label nz-radio nzValue="volunteer" (click)="newSupervisorSelected(false)"
                        style="display:block;font-size:28px;">
                        <i class="fad fa-user-cowboy" style="vertical-align: bottom;"></i>
                        <span style="margin-left:10px;font-size:14px;">Volunteer</span>

                    </label>
                    <label nz-radio nzValue="customer" (click)="newSupervisorSelected(false)"
                        style="display:block;font-size:28px;">
                        <i class="fad fa-user-crown" style="vertical-align: bottom;"></i>
                        <span style="margin-left:10px;  font-size:14px;">Customer</span>

                    </label>
                </nz-radio-group>
            </div>
            <div [@supervisorSignupToggle]="isNewSupervisorPanelOpen ? 'open' : 'closed'"
                style="z-index: -1;height:50px;overflow: hidden;padding-left:30px;">
                <label nz-checkbox ngDefaultControl [(ngModel)]="includeNewSupervisorsTeam">Have this supervisor
                    register their team</label>
            </div>
            <label nz-checkbox ngDefaultControl [(ngModel)]="newTeamMember.adminUp" nz-tooltip
                nzTooltipTitle="Give this person the ability to create, update, delete trainings.">Training Admin
                Access</label>
        </nz-modal>
    </div>
</div>