.task-list {
  font-size: 14px;
  height: 1em;
  transition: all 1s;
  transition-property: width, height;
  overflow: hidden;
}
.task-list:hover {
  height: 300px;
}

.role-container {
  display: inline-block;
}

.foo {
  color: #87d068;
}
.basic {
  color: #2db7f5;
}
.admin {
  color:  #e2b633;
}
.view-title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 16px;
}

nz-table.table {
}

table, th {
  padding:0;
  font-size: 12px;
}
table, tr, td {
  font-size:10px !important;
  padding: 5px 10px 5px 10px !important;
}

tr {
  padding-left: 10px;
}
td ul {
  margin-left:4px;
}
nz-tag {
  font-size: 10px;
}

.info {
  border: 1px solid #b2c6fa;
  border-radius: 3px;
  color: #3958e2;
  background-color: #f1f5fe;
  width: 100%;
  margin-bottom: 2em;
  padding: 20px 50px 20px 50px;
  position: relative;
}

.selectedTask {
  color: #d64493;
  border-left: 3px solid #d64493;
}

.ant-form-item {
  margin-bottom: 0 !important;

}
.team-container {
  display:block;
  border-top:1px solid #efefef;
  padding-top:10px;
  margin-top:10px;

}

.card-item {
  text-align: center;
  display:inline-block;
  cursor: pointer;
  padding:20px 5px;
  margin-right:5px;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  border:1px solid #efefef;
}
.card-item:hover {

}

.action-item {}

.action-item:hover {
  background-color: #f1f5fe;
}

.list-item {}

.list-item:hover {
  background-color: #f1f5fe;
}

.selected-row {
  background-color: #f1f5fe;
  font-weight: 400;
  border-right: 3px solid blue !important;
}

.active-link {
  border: 2px solid green;
}

.regular-row {
}

.userTypeFilterNotSelected {
  opacity: .3;
}

.userTypeFilter {
  border: 1px solid #ffffff;
}


.ant-table-body {
  border: 0 !important;
}
.myTables th {
  margin: 0 !important;
  padding: 10px !important;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: #f1f5fe;
  font-weight: 400;
}

.disabled {
  cursor: not-allowed;
  opacity: .6;
}

.displayNone {
  display: none;
}
