.training-viewer {
	width: 100%;
	height: 100%;
	border: 1px solid #dddddd;
}

.training-viewer-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.selected-user-to-assign {
	background-color: #f6f6f6;
	border: 1px solid #dddddd;
}

.user-to-assign {
}
.user-to-assign:hover {
	background-color: #f6f6f6;
}

.checklist-done {
	vertical-align: middle;
	font-size:14px;
	margin-right:5px;
	color:#52c41a;
}

.checklist-not-done {
	vertical-align: middle;
	font-size:14px;
	margin-right:5px;
	color:red;
}

.config-page-row {
	display: block;
	margin-top: 10px;
}

.main-content-page-row {
	display: block;
	margin-top: 20px;
	width: 100%;
}

.header-left {
	display: inline-block;
}

.main-content-item {
	padding: 10px;
	width: 100%;
}

.header-right {
	display: inline-block;
	margin-left: 30px;
	width:100%;
}

.header-middle {
	display: inline-block;
	font-size: 16px;
	margin-left: 20px;
	width: fit-content;
	max-width: 300px;
}
.right-top {
	height: 35px;
	margin-bottom: 5px;
}

.right-bottom {
	height: 35px;
	margin-bottom: 5px;
}

.main-content-container {
	height: 85%;
}

.assigned-user-selected {
	border: 1px solid #bbbbbb !important;
	background-color: #f6f6f6;
	border-radius: 4px;
}

.assigned-user {
	display: inline-block;
	padding: 5px;
	width: fit-content;
	text-align: center;
	margin: 0 4px;
	vertical-align: middle;
	border: 1px solid white;
	border-radius: 4px;
}

.assigned-user:hover {
	border: 1px solid #bbbbbb;
	background-color: #f6f6f6;
}

.training-header {
	width: 100%;
	display: block;
	background-color: #fcfcfc;
	border-bottom: 1px solid #dddddd;
	padding: 10px 5px 0 10px;
	position: relative;
}
.separator {
	margin: 0 10px;
	color:#bbbbbb;
}

.page-container {
	float: right;
	height: 100%;
	width: 75%;
	overflow: scroll;
	background-color: white;
}

.content-type-row {
	cursor:pointer;
	display:block;
	width:100%;
	padding:10px;
}

.content-type-row:hover {
	background-color: #f5f5f5;
}

.page {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 100%;
	border: 1px solid #dddddd;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	padding: 50px 40px;
	position: relative;
}
.page-title {
	border: 2px solid white;
 	margin-bottom: 10px;
}

.page-title:hover {
	border-color: #bbbbbb;
}

.page-intro {
	border: 2px solid white;
	padding: 10px;
	margin-bottom: 10px;
}
.page-intro:hover {
	border-color: #bbbbbb;
}

.page-content {
	border: 2px solid white;
	padding: 10px;
	height:84%;
	overflow: scroll;
 	margin-bottom: 10px;
}
.page-content:hover {
	border-color: #bbbbbb;
}
.page-section-selected {
	background-color: #fefbe8;
	border: 2px solid #e5e5e5;

}

.page-url {
	display: inline-block;
	background-color: white;
	width: 1000px;
	min-height: 1100px;
	border: 1px solid #dddddd;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	padding: 50px 40px;
	position: relative;
}
.toc {
	float: left;
	height: 100%;
	width: 25%;
	padding: 20px 0;
	border-right: 1px solid #dddddd;
	background-color: white;
}

.toc-icon-container {
	display: block;
	background-color: white;
	margin-bottom: 5px;
}
.toc-text-container {
	display: inline-block;
	width: 100%;
}
.toc-icon {
	font-size:18px;
	vertical-align: baseline;
}
.toc-opener {
	height: 50px;
	position: absolute;
	top: 20px;
	margin-left: 0;
	font-size: 30px;
	width: 50px;
	border: 1px solid #dddddd;
	background-color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.toc-title {
	width: 100%;
	font-size: 18px;
	font-weight: 300;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
	text-align: center;
}

.main-content {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background-color: #f5f5f5;
	min-height: 1100px;
}

.toc-label {
	font-size: 22px;
	font-weight: 300;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}

.active-toc {
	color: blue;
	background-color: #eaf7fe;
}

.current-version {
	font-size: 18px;
	font-weight: 500;
	color: blue;
	background-color: #edf7fe !important;
}

.toc-entry {
	padding: 5px;
	cursor: pointer;
	vertical-align: middle;
	margin-top: 1px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.toc-entry:hover {
	background-color: #eaf7fe;
}

.toc-main-content-entry {
	margin-top: 1px;
	padding-top:7px;
	padding-left: 30px;
	cursor: pointer;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
}
.toc-main-content-entry:hover {
	background-color: #eaf7fe;
}

.small ::ng-deep .ant-rate-star {
	font-size: 24px;
}

.selected {
	opacity: 1.0;
}

.disabled {
	opacity: .3;
	cursor: not-allowed !important;
}
.enabled {
	opacity: 1.0;
	cursor: pointer !important;
}

.not-selected {
	opacity: .2;
}

.page-action {
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	vertical-align: baseline;
	line-height: 18px;
}

.choice-container {
	display: block;
	width: 70%;
}

.choice-label {
	float: left;
	margin-right: 10px;
	font-size: 18px;
	margin-top: 6px;
}

.choice-input {
	float: right;
	margin-bottom: 10px;
	width: 94%;
}

.header-icon {
	display: inline-block;
	margin-left:5px;
}

.ant-btn:focus {
	background-color: #fff;
}

.ant-btn:hover {
	background-color: #eeeeee;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
	background-color: #5796f6;
}

.header-icon-container {
	padding: 5px;
}

.header-icon-selected {
	border: 1px solid #bbbbbb;
	background-color: #f5f5f5;
}

.selected-status {
	background-color: #eaf7fe;
}

.activeStep {
	border: 2px solid #d64594;
	background-color: #fcf1f6 !important;
}

.page-template-container {
	width: 100%;
	display: block;
}

.page-template {
	width: 250px;
	height: 324px;
	padding:5px;
	border: 1px solid #dddddd;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.page-template:hover {
	background-color: #f5f5f5;
	border: 1px solid black;
}