<perfect-scrollbar class="side-nav" sideNav>
    <ul nz-menu nzMode="inline" class="ant-menu ant-menu-root ant-menu-inline side-nav-menu" [ngClass]="{
            'ant-menu-inline-collapsed': isFolded,
            'ant-menu-dark' : isSideNavDark
        }">
        <ng-container *ngFor="let item of menuItems">
            <li *ngIf="item.submenu.length > 0" nz-submenu style="vertical-align: baseline;font-size: 18px;"
                class="ant-menu-submenu ant-menu-submenu-inline" [routerLinkActive]="'ant-menu-submenu-open'"
                [routerLinkActiveOptions]="{exact: true}" [nzTitle]="item.title" [nzIcon]="item.icon">
                <!-- Second Level -->
                <ul>
                    <li *ngFor="let subItem of item.submenu" nz-menu-item class="ant-menu-item"
                        [routerLink]="subItem.path" [routerLinkActive]="'ant-menu-item-selected'"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i *ngIf="subItem.iconType == 'nzIcon'" style="vertical-align: baseline;font-size: 18px;"
                            nz-icon [nzType]="subItem.icon" [theme]="subItem.iconTheme"></i>
                        <i *ngIf="subItem.iconType == 'fontawesome'" class="m-r-10"
                            [ngClass]="[subItem.iconTheme , subIitem.icon]"></i>
                        {{subItem.title}}
                    </li>
                </ul>
            </li>
            <li *ngIf="item.submenu.length === 0" nz-menu-item class="ant-menu-item"
                [routerLinkActive]="'ant-menu-item-selected'" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="item.path">
                    <i *ngIf="item.iconType == 'nzIcon'" style="vertical-align: baseline;font-size: 18px;" nz-icon
                        [nzType]="item.icon" [theme]="item.iconTheme"></i>
                    <i *ngIf="item.iconType == 'fontawesome'" class="m-r-10"
                        [ngClass]="[item.iconTheme , item.icon]"></i>
                    <span>{{item.title}}</span>
                </a>
        </ng-container>
    </ul>
</perfect-scrollbar>
