<div *ngIf="compact === 'yes'">
    <div style="padding:2px;">
        <div *ngFor="let userTraining of uidUTHash[uid]" style="display:inline-block;margin-left:20px;border-width:0;border-bottom-width:3px;border-style:solid;padding:2px;"
        [ngStyle]="{'border-color': statusIconHash[userTraining?.status]?.color}" nz-tooltip [nzTooltipTitle]="trainingIdHash[userTraining?.tid]?.versions[0].title">
            <i [ngClass]="(trainingIdHash$ | async)[userTraining?.tid]?.versions[0].iconClass"
                style="font-size:18px;vertical-align: middle;display:inline-block;"
                [ngStyle]="{'color': trainingIdHash[userTraining?.tid]?.versions[0].iconColor}">
            </i>
            <i *ngIf="trainingIdHash[userTraining?.tid]?.type === 'recurring'" class="fas fa-redo-alt"
                style="font-size:10px;vertical-align: top;display:inline-block;">
            </i>
            <span style="font-size:12px;margin-left:3px;vertical-align: middle;">{{trainingIdHash[userTraining?.tid]?.versions[0].title}}</span>

        </div>
        <div *ngIf="uid && (!uidUTHash[uid] || uidUTHash[uid].length === 0)" style="padding:5px;">
            No Trainings Assigned
        </div>
    </div>
</div>
<div *ngIf="compact === 'no'" style="width:100%;height:fit-content;font-size:12px;">
    <nz-table *ngIf="uidUTHash && uidUTHash[uid]?.length > 0" nzSize="small" nzBordered="false" nzShowPagination="false"
        [nzData]="uidUTHash[uid]" style="width:100%;background-color: #fafafa;font-size:12px;">
        <thead>
            <tr style="font-size:12px;">
                <th>Status</th>
                <th style="padding-left:40px;">Title</th>
                <th>Version</th>
                <th style="padding-left:10px;">Time (mm:ss)</th>
                <th style="padding-left:10px;">Notify Dates</th>
                <th style="padding-left:10px;">Due Date</th>
                <th style="padding-left:10px;">Date Completed</th>
                <th style="padding-left:30px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userTraining of uidUTHash[uid]" [ngStyle]="{'font-size.px': tableFontSize}"
                style="cursor: pointer;font-size:12px;background-color: white;line-height:10px;">
                <td style="width:7%;" nz-tooltip [nzTooltipTitle]="statusIconHash[userTraining?.status]?.desc">
                    <i nz-icon [nzType]="statusIconHash[userTraining?.status]?.icon" [nzTheme]="'twotone'"
                        [nzTwotoneColor]="statusIconHash[userTraining?.status]?.color" style="font-size:18px;"></i>
                </td>
                <td>
                    <!--
                    <i *ngIf="trainingIdHash[userTraining.tid].status === 'unlocked' && production === 'off'" nz-icon nzType="unlock"
                        [nzTheme]="'twotone'"
                        style="margin-right:5px;display:inline-block;font-size:12px;vertical-align: middle;"
                        [nzTwotoneColor]="'#52c41a'"></i>
                    <i *ngIf="trainingIdHash[userTraining.tid].status === 'locked' && production === 'off'" nz-icon nzType="lock"
                        [nzTheme]="'twotone'"
                        style="margin-right:5px;display:inline-block;font-size:12px;vertical-align: middle;"
                        [nzTwotoneColor]="'red'"></i>
                        -->
                    <i [ngClass]="(trainingIdHash$ | async)[userTraining?.tid]?.versions[0].iconClass"
                        style="font-size:24px;vertical-align: middle;"
                        [ngStyle]="{'color': trainingIdHash[userTraining?.tid]?.versions[0].iconColor}">
                    </i>
                    <i *ngIf="trainingIdHash[userTraining?.tid]?.type === 'recurring'" class="fas fa-redo-alt"
                        style="font-size:10px;vertical-align: top;">
                    </i>
                    <span style="margin-left:10px;">{{ trainingIdHash[userTraining?.tid]?.versions[0].title }}</span>
                </td>
                <td>
                    {{ versionFormatter(userTraining?.trainingVersion) }}
                </td>
                <td style="width:9%;">
                    {{ timeFormat(userTraining?.timeToDate) }}
                </td>
                <td style="width:9%;">
                    <div *ngFor="let notifyEvent of userTraining?.notifySchedule" style="font-size:10px;padding:3px;">
                    {{ notifyEvent?.date | date}}
                    </div>
                </td>
                <td *ngIf="mode === 'admin'" style="width:15%;">
                    <nz-date-picker nzFormat="MMM d, y" nzSize="small" ngDefaultControl [ngModel]="userTraining.dueDate"
                        (ngModelChange)="updateDueDate($event, userTraining)">
                    </nz-date-picker>
                </td>
                <td *ngIf="mode !== 'admin'" style="width:15%;">
                    {{ userTraining?.dueDate | date}}
                </td>
                <td *ngIf="userTraining.dateCompleted > 0" style="width:15%;">
                    {{ userTraining?.dateCompleted | date}}
                </td>
                <td *ngIf="userTraining?.dateCompleted === 0" style="width:15%;">
                    &nbsp;&nbsp;
                </td>
                <td style="width:13%;">
                    <div class="action"
                        (click)="viewTraining(userTraining?._id, userTraining?.tid, userTraining?.trainingVersion)"
                        nz-tooltip nzTooltipTitle="Play Training">
                        <i nz-icon [nzType]="'play-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"
                            style="font-size:18px;"></i>
                    </div>
                    <div *ngIf="userTraining.status === 'pendingCertUpload' && mode === 'admin'" class="action">
                        <i nz-icon nzType="upload" [nzTheme]="'outline'" class="action" style="font-size:18px;"
                            (click)="uploadCertImage(userTraining)" nz-tooltip
                            nzTooltipTitle="Upload Certificate Image">
                        </i>
                    </div>
                    <div *ngIf="userTraining.certImage" class="action">
                        <i class="fad fa-eye action" style="font-size:18px;color:blue;vertical-align: middle;"
                            (click)="viewCertImageFunc(userTraining)" nz-tooltip
                            nzTooltipTitle="View Certificate Image">
                        </i>
                    </div>
                    <div *ngIf="!trainingIdHash[userTraining?.tid]?.useFinalAssessment && (userTraining?.status !== 'completed' && userTraining?.status !== 'pendingCertUpload')"
                        class="action" (click)="markAsComplete(userTraining?._id)" nz-tooltip
                        nzTooltipTitle="Mark as Complete">
                        <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#4891f7'"
                            style="font-size:18px;"></i>
                    </div>
                    <div *ngIf="mode === 'admin'" class="action" nz-popconfirm
                        nzPopconfirmTitle="Delete this assigned training?" nz-tooltip
                        nzTooltipTitle="Delete this assigned training"
                        (nzOnConfirm)="confirmDeleteUserTraining(userTraining)">
                        <i nz-icon [nzType]="'delete'" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"
                            style="font-size:18px;"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div *ngIf="userTrainings?.length === 0" style="text-align: center;padding:20px;">
        <span style="font-size:16px;display:block;font-weight:300;">
            No trainings have been assigned to this user.</span>
    </div>
    <nz-modal [(nzVisible)]="markCompletedModalIsVisible" nzTitle="Congratulations!" nzWidth="800"
        (nzOnCancel)="handleMarkAsCompletedCancel()" (nzOnOk)="markTrainingAsComplete(selectedTraining)"
        nzCancelDisabled="true" [nzOkDisabled]="rating === 0 || comment === ''" style="width:800px;">
        Congratulations on successfully completing this training.
        <span style="display:block;">Rate this Training</span>
        <nz-rate style="display:block;margin-bottom:20px;" [(ngModel)]="rating" ngDefaultControl
            (ngModelChange)="ratingChanged($event)" nzAllowHalf class="small"></nz-rate>
        <span style="display:block;">Comments/Feedback</span>
        <textarea style="display:block;width:100%;" rows="4" nz-input ngDefaultControl [(ngModel)]="comment"></textarea>
    </nz-modal>
</div>
<div *ngIf="selectedTraining" style="position:relative;">
    <app-training-viewer style="width:100%;height:100%;" production="true"
        (assessmentResult)="processAssessmentResult($event)" [currentUT]="utIdHash[currentUserTraining]">
    </app-training-viewer>
</div>
<nz-modal [(nzVisible)]="certificateModalVisible" nzTitle="Certificate" nzWidth="900"
    (nzOnOk)="certificateModalVisible = false" nzCancelDisabled="true" style="width:900px;">
    <div *ngIf="certImageUrl" style="width:100%;padding:50px;border:1px solid #aaaaaa;position:relative;">
        <iframe style="width:100%;" [src]="certImageUrl" allowfullscreen width="100%" height="800" frameBorder="2">
        </iframe>

    </div>
</nz-modal>