.action {
    display:inline-block;
    padding:5px;
}

.disabled {
    opacity: .2;
    cursor: not-allowed;
}

.no-padding {
    padding:0;
}

.with-padding {
    padding: 20px;
}

.selected-userTraining {
    color:blue;
    font-size: 16px !important;
    font-weight: 500;
}