.current-template {
    color: blue;
}

.fullscreen {
    position:fixed;
    background: #e0e0e0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1000;
    padding-right:10px;
    height:100%
}

.regular {
    background: #e0e0e0;
    overflow: hide;
    width:100%;
    position:relative;
    height: 900px;
    float: left;
}

.fileList {
    background-color: white;
}
.fileList:hover {
    background-color: #efefef;
    cursor: pointer;
}
.selected-file {
    background-color: #efefef;
}

.nav-link {
    font-size: 14px;
}

.nav-link:hover {
    color: blue;
}

ol li, ol li ol li {
    padding: 5px;
}

ol.foo {
    list-style-type:upper-roman;
    list-style-position:inside;
}

.middle-top {
    display: inline-block;
    padding: 10px 0 0 10px;
    font-size:22px;
    font-weight:400;
}

.middle-bottom {
    display: block;
}

.t-header {
    width:100%;
    display:block;
    background-color: white;
    margin-bottom: 5px;
    border-top: 1px solid #e0e0e0;
    height: 80px;
}

.header-left {
    padding-left:10px;
    padding-top: 10px;
    float:left;
    width: 60px;
    text-align: center;
}

.header-middle {
    display: inline-block;
}

.header-right {
    display: inline-block;
}

.header-fullscreen {
    width:100%;
    margin-bottom:2px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    position:fixed;
    top:0;
    left:0;
    right:0;
}
.container {
    height: 100%;
    padding: 0 !important;
    overflow-x: scroll;
    white-space: nowrap;
}

.container-fullscreen {
    margin-top:60px;
    white-space: nowrap;
}

.toc {
    width: 250px;
    height: 95%;
    display:inline-block;
    margin-left:5px;
    margin-right: 2%;
    float: left;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.main-content {
    width: 800px;
    height:95%;
    display: inline-block;
    border-left:1px sold #bbbbbb;    
    background-color: white;
    margin-right: 5px;
    overflow-x: scroll;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.toc-fullscreen {
    width: 250px;
    position:fixed;
    top:50px;
    left:20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.active-toc {
    color: blue;
    border-right:2px solid blue;
    background-color: #f5f5f5;
}

.toc-entry {
    padding:5px;
    cursor: pointer;
    margin-top:1px;
}
.toc-entry:hover {
    background-color: #f5f5f5;
}

.ant-checkbox-input {
    border: 1px solid blue !important;
}
