.current-template {
    color: blue;
}

.fullscreen {
    overflow: scroll;
    position:fixed;
    background: white;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1000;
    padding-right:10px;
}

.regular {
    overflow: scroll;
    width:100%;
    position:relative;
}

.fileList {
    background-color: white;
}
.fileList:hover {
    background-color: #efefef;
    cursor: pointer;
}
.selected-file {
    background-color: #efefef;
}

.nav-link {
    font-size: 14px;
}

.nav-link:hover {
    color: blue;
}

ol li, ol li ol li {
    padding: 5px;
}

ol.foo {
    list-style-type:upper-roman;
    list-style-position:inside;
}

.toolbar {
    width:100%;
    display:block;
    margin-bottom:2px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    padding:5px
}

.toolbar-fullscreen {
    width:100%;
    margin-bottom:2px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    position:fixed;
    top:0;
    left:0;
    right:0;
}
.container {
    width:100%;
    height:500px;
    overflow-y:scroll;
    padding: 0 !important;
}

.container-fullscreen {
    margin-top:60px;
    width:100%;
}

.toc {
    width:25%;
    display:inline-block;
}

.toc-fullscreen {
    position:fixed;
    top:50px;
    left:0;
}