<!--
<div style="width:100%;padding:60px;">
    <div style="width:100%;border:1px solid #bbbbbb;padding:20px;border-radius: 5px;background-color: #f1f1f1;">
        <div style="width:100%;text-align: center;">
            <h2 style="display:inline-block;">Application for Beta Program</h2>
        </div>
        <div style="text-align: center;">
            <form method="post" action="" name="contact-form" id="beta_application_form"
                style="width:100%;">
                <div style="display:inline-block;width:60%;">
                    <div style="margin-bottom: 5px;">
                        <div>
                            <input name="firstName" id="firstName" type="text" class="form-control"
                                placeholder="First Name">
                        </div>
                    </div>
                    <div style="margin-bottom: 5px;">
                        <div>
                            <input name="lastName" id="lastName" type="text" class="form-control"
                                placeholder="Last Name">
                        </div>
                    </div>
                    <div style="margin-bottom: 5px;">
                        <div>
                            <input name="companyName" id="companyName" type="text" class="form-control"
                                placeholder="Company Name">
                        </div>
                    </div>
                    <div style="margin-bottom: 5px;">
                        <div>
                            <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <input type="text" class="form-control" id="subject" placeholder="Subject..." />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mt-2">
                            <textarea name="comments" id="comments" rows="4" class="form-control"
                                placeholder="Message..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom"
                            value="Send Message" disabled="true">
                        <div id="simple-msg"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
-->