<div class="page-header" *ngIf="authenticatedUser$ | async as user">
    <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
            <div class="media-body m-l-15">
                <h4 class="m-b-0">Welcome, {{ user.firstName }}!</h4>
            </div>
        </div>
        <div class="d-md-flex align-items-center d-none">
            <div class="media align-items-center m-r-20 m-v-5">
                <i class="text-danger font-size-20" style="vertical-align: .2em !important;" nz-icon nzType="file"
                    theme="outline"></i>
                <span class="text-gray font-size-16"> &nbsp;Files - </span>
                <span class="m-b-0 m-r-5 font-size-24">&nbsp;{{fileCnt$ | async}}</span>
            </div>
            <div class="media align-items-center m-r-20 m-v-5">
                <i class="text-success font-size-20" style="vertical-align: .2em !important;" nz-icon nzType="solution"
                    theme="outline"></i>
                <span class="text-gray font-size-16"> &nbsp;Trainings - </span>
                <span class="m-b-0 m-r-5 font-size-24">&nbsp;{{trainingCnt$ | async}}</span>
            </div>
            <div class="media align-items-center m-r-20 m-v-5">
                <i class="text-primary font-size-20" style="vertical-align: .2em !important;" nz-icon nzType="team"
                    theme="outline"></i>
                <span class="text-gray font-size-16"> &nbsp;Users - </span>
                <span class="m-b-0 m-r-5 font-size-24">&nbsp;{{userCnt$ | async}}</span>
            </div>
            <div class="media align-items-center m-r-20 m-v-5">
                <i class="text-warning fal fa-hard-hat font-size-20" style="vertical-align: .2em !important;"></i>
                <span class="text-gray font-size-16"> &nbsp;Jobs - </span>
                <span class="m-b-0 m-r-5 font-size-24">&nbsp;{{jobCnt$ | async}}</span>
            </div>
        </div>
    </div>
</div>
        <h4>This is the Getting Started step wizard.</h4>
        The following steps guide you through the complete setup of myTrainingdocs for your team.
        <div class="help-panel">
            <div>
                <div style="display:inline-block;margin-bottom:10px;">
                    <i class="fal fa-head-side-brain" style="color:#b20fc3;font-size:30px;"></i>
                </div>
                <div style="display:inline-block;margin-left:20px;">
                    <span>Things to Know</span>
                </div>
            </div>
            <div style="display:inline-block;">
                Selecting this icon anywhere on the site will provide help information specific to where you are.
        
            </div>
        </div>
<div style="width:100%; height:100%;">
    <nz-tabset nzTabPosition="top" nzSelectedIndex="-1" nzSize="large" style="margin-top: 20px;">
        <nz-tab [nzTitle]="header1Template" style="width:100%;height:900px;">
            <h4 style="text-align: center;">Step 1 - Upload Files</h4>
            <div>
                <nz-alert class="m-b-10" nzType="info" nzMessage="Managing Your Files"
                    nzDescription="Selecting the 'add file' icon brings up the file upload dialog where you can select files from your local machine, Google Drive, or Dropbox.  Once uploaded, selecting the file will show the file in our document viewer and let you edit properties of the file."
                    nzShowIcon nzCloseable>
                </nz-alert>
                <mtd-file-mgr mode="brief" style="height: 900px;"></mtd-file-mgr>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="header2Template">
            <div style="width:100%;height:80%;">
                <h4 style="text-align: center;">Step 2 - Create Trainings</h4>
                <mtd-trainings></mtd-trainings>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="header3Template">
            <h4 style="text-align: center;">Step 3 - Add Team Members</h4>
            <div>
                <mtd-users></mtd-users>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="header4Template">
            <h4 style="text-align: center;">Step 4 - Define Jobs</h4>
            <div>
                <mtd-users></mtd-users>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="header5Template">
            <h4 style="text-align: center;">Step 5 - Assign Trainings to Jobs</h4>
            <div>
                Place Holder
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="header6Template">
            <h4 style="text-align: center;">Step 6 - Assign Jobs to People</h4>
            <div>
                Place Holder
            </div>
        </nz-tab>
    </nz-tabset>

    <ng-template #header1Template style="width:16%;">
        <div style="text-align: center;">
            <div style="font-size: 20px;color:blue;margin-bottom:5px;">Step 1</div>
            <div style="font-size: 10px;">Upload Files</div>
        </div>
    </ng-template>
    <ng-template #header2Template style="width:16%;">
        <div style="text-align: center;">
            <div style="font-size: 20px;color:blue;margin-bottom:5px;">Step 2</div>
            <div style="font-size: 10px;">Create Trainings</div>
        </div>
    </ng-template>
    <ng-template #header3Template style="width:16%;">
        <div style="text-align: center;">
            <div style="font-size: 20px;color:blue;margin-bottom:5px;">Step 3</div>
            <div style="font-size: 10px;">Add Team Members</div>
        </div>
    </ng-template>
    <ng-template #header4Template style="width:16%;">
        <div style="text-align: center;">
            <div style="font-size: 20px;color:blue;margin-bottom:5px;">Step 4</div>
            <div style="font-size: 10px;">Define Jobs</div>
        </div>
    </ng-template>
    <ng-template #header5Template style="width:100px;">
        <div style="text-align: center;">
            <div style="font-size: 20px;color:blue;margin-bottom:5px;">Step 5</div>
            <div style="font-size: 10px;">Assign Trainings to Jobs</div>
        </div>
    </ng-template>
    <ng-template #header6Template style="width:16%;">
        <div style="text-align: center;">
            <div style="font-size: 20px;color:blue;margin-bottom:5px;">Step 6</div>
            <div style="font-size: 10px;">Assign Jobs to People</div>
        </div>
    </ng-template>
    <nz-modal [(nzVisible)]="showWelcomeDialog" nzTitle="Welcome!" nzClosable="false" (nzOnOk)="handleOk()"
        nzCancelDisabled="true">
    </nz-modal>
</div>