<div style="width:100%;height:93%;display:block;"
    [ngClass]="{'no-padding': useBanner === 'no', 'with-padding': useBanner === 'yes'}">
    <div *ngIf="useBanner === 'yes'" class="my-team-header">
        <!--
        <span style="display:inline-block;font-size:24px;font-weight: 300;margin-bottom:20px;">My Trainings</span>
        -->
        <nz-alert style="width:100%;padding-bottom:40px;" nzType="info" nzMessage="About This Page"
            nzDescription="The following is a list of trainings that you are responsible for completing.  Start a training by selecting the green play button."
            nzShowIcon nzCloseable>
        </nz-alert>
    </div>
    <app-user-trainings></app-user-trainings>
    <app-training-viewer style="width:100%;height:100%;" production="true"
        (assessmentResult)="processAssessmentResult($event)"></app-training-viewer>
</div>