<div style="width:100%;display:block;">
    <app-calendar></app-calendar>
</div>
<!--
    <div style="width:25%;padding-right:10px;display:inline-block;float:left;">
        <div style="min-width:300px;width:100%;border:1px solid #d9d9d9;border-radius: 4px;">
            <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)"
                (nzPanelChange)="onPanelChange($event)"></nz-calendar>
        </div>
    </div>
    -->
<div style="width:100%;height:93%;display:block;">
    <div style="text-align:center;display:block;width:100%;margin-bottom:5px;font-size:12px;">
        <nz-table nzSize="small" nzBordered="false" nzShowPagination="false" [nzData]="userTrainings"
            style="width:100%;background-color: #fafafa;font-size:12px;display:inline-block;">
            <thead>
                <tr style="font-size:12px;">
                    <th>Status</th>
                    <th style="padding-left:40px;">Title</th>
                    <th>Due Date</th>
                    <th>Date Completed</th>
                    <th style="padding-left:20px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userTraining of userTrainings$ | async; index as userTrainingIndex;"
                    style="cursor: pointer;font-size:12px;background-color: white;line-height:10px;">
                    <td style="font-size:12px;width:7%;" nz-tooltip
                        [nzTooltipTitle]="statusIconHash[userTraining.status].desc">
                        <i nz-icon [nzType]="statusIconHash[userTraining.status].icon" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="statusIconHash[userTraining.status].color" style="font-size:16px;"></i>
                    </td>
                    <td style="font-size:12px;width:40%;">
                        <i [ngClass]="trainingIdHash[userTraining.tid].iconClass"
                            style="font-size:20px;margin-right:10px;vertical-align: middle;"
                            [ngStyle]="{'color': trainingIdHash[userTraining.tid].iconColor}">
                        </i>
                        {{ trainingIdHash[userTraining.tid].title }}
                    </td>
                    <td style="font-size:12px;width:16%;">
                        {{ userTraining.dueDate | date:'medium'}}
                    </td>
                    <td *ngIf="userTraining.dateCompleted > 0" style="font-size:12px;width:16%;">
                        {{ userTraining.dateCompleted | date:'medium'}}
                    </td>
                    <td *ngIf="userTraining.dateCompleted === 0" style="font-size:12px;width:16%;">
                        -
                    </td>
                    <td style="font-size:12px;width:20%;">
                        <div *ngIf="mode === 'admin'" class="action" nz-tooltip nzTooltipTitle="Change Due Date">
                            <i nz-icon [nzType]="'calendar'" [nzTheme]="'twotone'" [nzTwotoneColor]="'orange'" style="font-size:18px;"></i>
                        </div>
                        <div class="action" (click)="viewTraining(userTraining.tid)" nz-tooltip
                            nzTooltipTitle="Execute Training">
                            <i nz-icon [nzType]="'thunderbolt'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"
                                style="font-size:18px;"></i>
                        </div>
                        <div class="action" (click)="viewTraining(userTraining.tid)" nz-tooltip
                            nzTooltipTitle="Mark as Complete">
                            <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'blue'"
                                style="font-size:18px;"></i>
                        </div>
                        <div *ngIf="mode === 'admin'" class="action" nz-popconfirm nzPopconfirmTitle="Delete this assigned training?" nz-tooltip
                            nzTooltipTitle="Delete this assigned training"
                            (nzOnConfirm)="confirmDeleteUserTraining(userTrainingIndex)">
                            <i nz-icon [nzType]="'delete'" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"
                                style="font-size:18px;"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <app-training-viewer style="width:100%;height:100%;" production="true"></app-training-viewer>
</div>